{% trans_default_domain 'common' %}

{% extends 'MBagrovSSParserMailerMailerBundle:email/layout:base.html.twig' %}

{% block email_contents %}
    <tr>
        <td width="100%" height="50" style="height: 50px;"></td>
    </tr>

    <tr>
        <td>
            <table width="133" align="right" border="0" cellpadding="0" cellspacing="0"
                   class="devicewidth">
                <tbody>

                <tr>
                    <td width="103" height="51" align="center">
                        <div class="imgpop">
                            <a href="{{ url('index') }}">
                                <img src="{{ message.embed(toEmbed.headerLogo) }}" alt="" border="0"
                                     width="103" height="51"
                                     style="display:block; border:none; outline:none; text-decoration:none;">
                                {#<img src="{{ asset('img/logo-small.png') }}" alt="" border="0"#}
                                {#width="103" height="51"#}
                                {#style="display:block; border:none; outline:none; text-decoration:none;">#}
                            </a>
                        </div>
                    </td>
                </tr>

                </tbody>
            </table>
        </td>
    </tr>

    <tr>
        <td>
            <table width="550" align="center" height="125" valign="bottom" border="0" cellpadding="0"
                   cellspacing="0" class="devicewidth">
                <tbody>
                <tr>
                    <td valign="bottom" style="white-space: nowrap; font-size: 24px;" class="headerTitle fontWeightNormal">{{ 'email.missed_ads.header'|trans }}</td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>


    <tr>
        <td width="100%" height="50" style="height: 50px;"></td>
    </tr>


    <tr>
        <td>
            <p style="font-size: 13px;">{{ 'email.missed_ads.1'|trans }}</p>
        </td>
    </tr>

    <tr>
        <td>
            <p style="font-size: 13px; padding-top: 10px;">{{ 'email.missed_ads.2'|trans }} <a href="{{ url('index') }}">{{ 'email.missed_ads.3'|trans }}</a> {{ 'email.missed_ads.4'|trans }}</p>
        </td>
    </tr>

    <tr>
        <td>
            <p style="font-size: 13px; padding-top: 10px;">{{ 'email.missed_ads.5'|trans }}</p>
        </td>
    </tr>

    <tr>
        <td style="padding-top: 15px; border-bottom: solid 1px rgba(151, 159, 166, 0.23);"></td>
    </tr>

    <tr>
        <td style="padding-top: 13px;">

            <table style="width: 100%;">
                <tr style="font-size: 11px; font-weight: 400; color: #979fa6;">
                    <td align="center">{{ 'email.missed_ads.6'|trans }}</td>
                    <td align="center">{{ 'email.missed_ads.7'|trans }}</td>
                </tr>
                <tr style="font-size: 13px; color: #1c2124;">
                    <td style="font-weight: 700;" align="center">
                        <span style="color: #1c2124; font-weight: 700;">{{ adsCount }}</span>
                    </td>
                    <td align="center">
                        <span style="color: #1c2124; font-weight: 700;">{{ missedAdsCount }} ({{ missedPercent }}%)</span>
                    </td>
                </tr>
            </table>

        </td>
    </tr>

    <tr>
        <td style="padding-top: 11px; padding-left: 80px; padding-right: 80px; border-bottom: solid 1px rgba(151, 159, 166, 0.23);"></td>
    </tr>

    <tr>
        <td width="100%" height="75" style="height: 75px;"></td>
    </tr>

    <tr>
        <td>
            <table width="550" align="center" border="0" cellpadding="0" cellspacing="0"
                   class="devicewidth greetingsText fontWeightNormal"
                   style="line-height: 1.2; color: grey; text-align: center;">
                <tbody>
                <tr>
                    <td style="font-size: 12px;">
                        {{ 'email.missed_ads.8'|trans }} <a href="{{ url('index') }}">www.adds.lv</a>. {{ 'email.missed_ads.9'|trans }}
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>


    <tr>
        <td width="100%" height="30" style="height: 30px;"></td>
    </tr>

{% endblock %}