{% trans_default_domain 'common' %}

{% extends 'MBagrovSSParserMailerMailerBundle:email/layout:base.html.twig' %}

{% block email_contents %}
    <tr>
        <td width="100%" height="50" style="height: 50px;"></td>
    </tr>

    <tr>
        <td>
            <table width="133" align="right" border="0" cellpadding="0" cellspacing="0"
                   class="devicewidth">
                <tbody>

                <tr>
                    <td width="103" height="51" align="center">
                        <div class="imgpop">
                            <a href="{{ url('index') }}">
                                <img src="{{ message.embed(toEmbed.headerLogo) }}" alt="" border="0"
                                     width="103" height="51"
                                     style="display:block; border:none; outline:none; text-decoration:none;">
                                {#<img src="{{ asset('img/logo-small.png') }}" alt="" border="0"#}
                                {#width="103" height="51"#}
                                {#style="display:block; border:none; outline:none; text-decoration:none;">#}
                            </a>
                        </div>
                    </td>
                </tr>

                </tbody>
            </table>
        </td>
    </tr>

    <tr>
        <td>
            <table width="550" align="center" height="125" valign="bottom" border="0" cellpadding="0"
                   cellspacing="0" class="devicewidth">
                <tbody>
                <tr>
                    <td valign="bottom" style="white-space: nowrap; font-size: 24px;" class="headerTitle fontWeightNormal">{{ 'email.notifications_ended.header'|trans }}</td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>


    <tr>
        <td width="100%" height="50" style="height: 50px;"></td>
    </tr>


    <tr>
        <td>
            <p style="font-size: 13px;">{{ 'email.notifications_ended.1'|trans }}</p>
        </td>
    </tr>

    <tr>
        <td>
            <p style="font-size: 13px; padding-top: 10px;">{{ 'email.notifications_ended.2'|trans }}</p>
        </td>
    </tr>

    <tr>
        <td>
            <p style="font-size: 13px; padding-top: 10px;">{{ 'email.notifications_ended.3'|trans }} <a href="{{ url('index') }}">{{ 'email.notifications_ended.4'|trans }}</a>.</p>
        </td>
    </tr>

    <tr>
        <td>
            <p style="font-size: 13px; padding-top: 10px;">{{ 'email.notifications_ended.5'|trans }} <a href="{{ url('common.order.create') }}">{{ 'email.notifications_ended.6'|trans }}</a>.</p>
        </td>
    </tr>

    <tr>
        <td width="100%" height="75" style="height: 75px;"></td>
    </tr>

    <tr>
        <td>
            <table width="550" align="center" border="0" cellpadding="0" cellspacing="0"
                   class="devicewidth greetingsText fontWeightNormal"
                   style="line-height: 1.2; color: grey; text-align: center;">
                <tbody>
                <tr>
                    <td style="font-size: 12px;">
                        {{ 'email.notifications_ended.7'|trans }} <a href="{{ url('index') }}">www.adds.lv</a>. {{ 'email.notifications_ended.8'|trans }}
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>


    <tr>
        <td width="100%" height="30" style="height: 30px;"></td>
    </tr>

{% endblock %}