{% trans_default_domain 'common' %}

{% extends 'MBagrovSSParserMailerMailerBundle:email/layout:base.html.twig' %}

{% block email_contents %}
    <tr>
        <td width="100%" height="50" style="height: 50px;"></td>
    </tr>

    <tr>
        <td>
            <table width="133" align="right" border="0" cellpadding="0" cellspacing="0"
                   class="devicewidth">
                <tbody>

                <tr>
                    <td width="103" height="51" align="center">
                        <div class="imgpop">
                            <a href="{{ url('index') }}">
                                <img src="{{ message.embed(toEmbed.headerLogo) }}" alt="" border="0"
                                     width="103" height="51"
                                     style="display:block; border:none; outline:none; text-decoration:none;">
                                {#<img src="{{ asset('img/logo-small.png') }}" alt="" border="0"#}
                                {#width="103" height="51"#}
                                {#style="display:block; border:none; outline:none; text-decoration:none;">#}
                            </a>
                        </div>
                    </td>
                </tr>

                </tbody>
            </table>
        </td>
    </tr>

    <tr>
        <td>
            <table width="550" align="center" height="125" valign="bottom" border="0" cellpadding="0"
                   cellspacing="0" class="devicewidth">
                <tbody>
                <tr>
                    <td valign="bottom" style="white-space: nowrap; font-size: 36px;" class="headerTitle fontSize36 fontWeightNormal">{{ 'email.registration.header'|trans }}</td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>


    <tr>
        <td width="100%" height="50" style="height: 50px;"></td>
    </tr>

    <tr>
        <td>
            <table width="550" align="center" border="0" cellpadding="0" cellspacing="0"
                   class="devicewidth greetingsText fontSize14 fontWeightNormal" style="line-height: 1.2; font-size: 14px;">
                <tbody>
                <tr>
                    <td>
                        {{ 'email.registration.1'|trans }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ 'email.registration.2'|trans }}
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>

    <tr>
        <td width="100%" height="75" style="height: 75px;"></td>
    </tr>

    <tr>
        <td>
            <table width="550" align="center" border="0" cellpadding="0" cellspacing="0"
                   class="devicewidth">
                <tbody>
                <tr>
                    <td>
                        <a style="text-decoration: none;" href="{{ url('fos_user_registration_confirm', {token: user.getConfirmationToken}) }}">
                            <span class="fontSize14" style="font-size: 14px; width: 203px !important; background-color: #3498db; border-bottom: 2px #2980b9 solid; appearance: none; border-left: 0px; border-right: 0; border-top: 0; cursor: pointer; color: #ffffff; padding: 10px 10px 10px 10px; line-height: 16px; text-align: center; white-space: nowrap; color: white;">{{ 'email.registration.3'|trans }}</span>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>

    <tr>
        <td width="100%" height="15" style="height: 15px;"></td>
    </tr>

    <tr>
        <td>
            <table width="550" align="center" border="0" cellpadding="0" cellspacing="0"
                   class="devicewidth">
                <tbody>
                <tr>
                    <td style="font-size: 12px;">
                        <span class="linkText" style="font-size: 12px; line-height: 1.2; color: grey;">{{ 'email.registration.4'|trans }}:</span> {{ url('fos_user_registration_confirm', {token: user.getConfirmationToken}) }}
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>

    <tr>
        <td width="100%" height="30" style="height: 30px;"></td>
    </tr>


    <tr>
        <td>
            <table width="550" align="center" border="0" cellpadding="0" cellspacing="0"
                   class="devicewidth linkText fontSize14 fontWeightNormal" style="font-size: 14px; line-height: 1.2; color: grey;">
                <tbody>
                <tr>
                    <td>
                        {{ 'email.registration.5'|trans }}
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>

    <tr>
        <td width="100%" height="100" style="height: 100px;"></td>
    </tr>


    <tr>
        <td>
            <table width="550" align="center" border="0" cellpadding="0" cellspacing="0"
                   class="devicewidth greetingsText fontWeightNormal"
                   style="line-height: 1.2; color: grey; text-align: center;">
                <tbody>
                <tr>
                    <td style="font-size: 12px;">
                        {{ 'email.registration.6'|trans }} <a href="{{ url('index') }}">www.adds.lv</a>. {{ 'email.registration.7'|trans }}
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>


    <tr>
        <td width="100%" height="30" style="height: 30px;"></td>
    </tr>

{% endblock %}