{% extends 'layout/page.html.twig' %}
    {% form_theme form with [
    '@MBagrovSSParserCommonCommon/Form/form_errors.html.twig',
    '@MBagrovSSParserCommonCommon/Form/email_widget.html.twig',
    ] %}
{% trans_default_domain 'common' %}

{% block title %}{{ 'seo.title.contacts.index'|trans([], 'messages') }}{% endblock %}


{% block content %}
    <div class="col-sm-10 col-sm-offset-1">
        <div class="row margin-bottom-30">
            <div class="col-md-8 mb-margin-bottom-30">

                <div class="tag-box tag-box-v2 margin-bottom-40">
                    <p>{{ 'contacts.text'|trans }}</p>
                </div>

                {{ form_errors(form) }}

                <form method="post" id="sky-form3" class="sky-form contact-style contacts-form">
                    {{ form_widget(form._token) }}
                    <fieldset class="no-padding">
                        <label>{{ 'contacts.name'|trans }} <span class="color-red">*</span></label>
                        <div class="row sky-space-20">
                            <div class="col-md-7 col-md-offset-0">
                                <div>
                                    <label class="input{% if form_errors(form.name)|trim|length %} state-error{% endif %}">
                                        <i class="icon-prepend fa fa-user"></i>
                                        {{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}
                                    </label>
                                    {{ form_errors(form.name) }}
                                </div>
                            </div>

                        </div>

                        <label>{{ 'contacts.email'|trans }} <span class="color-red">*</span></label>
                        <div class="row sky-space-20">
                            <div class="col-md-7 col-md-offset-0">
                                <div>
                                    {{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}
                                    {{ form_errors(form.email) }}
                                </div>
                            </div>
                        </div>

                        <label>{{ 'contacts.message.text'|trans }} <span class="color-red">*</span></label>
                        <div class="row sky-space-20">
                            <div class="col-md-11 col-md-offset-0">
                                <div>
                                    <label class="input{% if form_errors(form.message)|trim|length %} state-error{% endif %}">
                                        {{ form_widget(form.message, { 'attr': {'class': 'form-control', 'rows': 8} }) }}
                                    </label>
                                    {{ form_errors(form.message) }}
                                </div>
                            </div>
                        </div>

                        <p>
                            <button type="submit" class="btn-u">{{ 'contacts.btn'|trans }}</button>
                        </p>
                    </fieldset>

                </form>
            </div>

            <div class="col-md-4">

                <div class="headline"><h2>{{ 'contacts.header'|trans }}</h2></div>
                <ul class="list-unstyled who margin-bottom-30">
                    <li><a href="#"><i class="fa fa-home"></i>{{ contacts.address }}</a></li>
                    <li><a href="#"><i class="fa fa-envelope"></i>{{ contacts.email }}</a></li>
                    {#<li><a href="#"><i class="fa fa-phone"></i>{{ contacts.phone }}</a></li>#}
                    <li><a href="#"><i class="fa fa-globe"></i>{{ url('index') }}</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}

    <script type="text/javascript" src="{{ asset('js/locale/' ~ app.request.locale ~ '/reg.validation.js') }}"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            ContactsForm.initValidation();
        });
    </script>

{% endblock %}