{% extends 'layout/page.html.twig' %}

{% trans_default_domain 'common' %}

{% block title %}{{ 'seo.title.contacts.sent'|trans([], 'messages') }}{% endblock %}

{% block content %}
    <div class="col-md-offset-1 col-md-10">
        <div class="tag-box tag-box-v2 margin-bottom-40">
            <h4>{{ 'contacts.confirmation.header'|trans }}</h4>

            <p>{{ 'contacts.confirmation.p1'|trans }}</p>

            <br>

            <p>
                <a class="btn-u btn-u-blue" href="{{ path('index') }}">{{ 'contacts.confirmation.btn'|trans }}</a>
            </p>
        </div>
    </div>
{% endblock %}