{% trans_default_domain 'flat_estate' %}

{% set canBuy = false %}

{% if user.emailNotifications != 0 %}

    {% if search.isEmail %}
        <p>{{ 'search.call_to_action.text.3'|trans({TYPE: 'email'}) }}</p><br>
    {% else %}
        <p>{{ 'search.call_to_action.text.4'|trans({TYPE: 'email'}) }} <a class="toggle-notifications"
                                                                          href="{{ path('flat_estate.search.toggle_notification', {'id': search.uuid, 'type': 1}) }}">{{ 'search.call_to_action.text.5'|trans }}</a> {{ 'search.call_to_action.text.6'|trans }}
            .</p><br>
    {% endif %}

{% else %}
    {% set canBuy = true %}

    {% if search.isEmail %}
        <p>{{ 'search.call_to_action.text.7'|trans({TYPE: 'email'}) }} <a
                    href="{{ path('common.order.create') }}">{{ 'search.call_to_action.text.8'|trans }}</a> {{ 'search.call_to_action.text.9'|trans({TYPE: 'email'}) }}
        </p><br>
    {% else %}
        <p>{{ 'search.call_to_action.text.10'|trans({TYPE: 'email'}) }} <a
                    href="{{ path('common.order.create') }}">{{ 'search.call_to_action.text.8'|trans }}</a> {{ 'search.call_to_action.text.11'|trans({TYPE: 'email'}) }}
            <a class="toggle-notifications"
               href="{{ path('flat_estate.search.toggle_notification', {'id': search.uuid, 'type': 1}) }}">{{ 'search.call_to_action.text.12'|trans }}</a> {{ 'search.call_to_action.text.13'|trans }}
            .</p><br>
    {% endif %}

{% endif %}

{% if user.phoneNotifications != 0 %}

    {% if search.isSms %}
        <p>{{ 'search.call_to_action.text.3'|trans({TYPE: 'SMS'}) }}</p><br>
    {% else %}
        <p>{{ 'search.call_to_action.text.4'|trans({TYPE: 'SMS'}) }} <a class="toggle-notifications"
                                                                        href="{{ path('flat_estate.search.toggle_notification', {'id': search.uuid, 'type': 0}) }}">{{ 'search.call_to_action.text.5'|trans }}</a> {{ 'search.call_to_action.text.6'|trans }}
            .</p><br>
    {% endif %}

{% else %}
    {% set canBuy = true %}

    {% if search.isSms %}
        <p>{{ 'search.call_to_action.text.7'|trans({TYPE: 'SMS'}) }} <a
                    href="{{ path('common.order.create') }}">{{ 'search.call_to_action.text.8'|trans }}</a> {{ 'search.call_to_action.text.9'|trans({TYPE: 'SMS'}) }}
        </p><br>
    {% else %}
        <p>{{ 'search.call_to_action.text.10'|trans({TYPE: 'SMS'}) }} <a
                    href="{{ path('common.order.create') }}">{{ 'search.call_to_action.text.8'|trans }}</a> {{ 'search.call_to_action.text.11'|trans({TYPE: 'SMS'}) }}
            <a class="toggle-notifications"
               href="{{ path('flat_estate.search.toggle_notification', {'id': search.uuid, 'type': 0}) }}">{{ 'search.call_to_action.text.12'|trans }}</a> {{ 'search.call_to_action.text.13'|trans }}
            .</p><br>
    {% endif %}

{% endif %}

{% if search.isSms and user.getPhone is null %}
    <p>{{ 'search.call_to_action.text.14'|trans }} <a href="{{ path('fos_user_change_password') }}">{{ 'search.call_to_action.text.15'|trans }}</a></p><br>
{% endif %}

<p>
    {% if canBuy %}
        <a class="btn-u btn-u-green"
           href="{{ path('common.order.create') }}">{{ 'search.call_to_action.btn.1'|trans }}</a>
    {% endif %}
    <a class="btn-u btn-u-blue"
       href="{{ path('flat_estate.search.show', {id: search.uuid}) }}">{{ 'search.call_to_action.btn.2'|trans }}</a>
    <a class="btn-u btn-u-blue"
       href="{{ path('flat_estate.search.index') }}">{{ 'search.call_to_action.btn.3'|trans }}</a>

    {% if search.isSms and user.getPhone is null %}
        <a class="btn-u btn-u-red"
           href="{{ path('fos_user_change_password') }}">{{ 'search.call_to_action.btn.4'|trans }}</a>
    {% endif %}
</p>