{% extends ':layout:page.html.twig' %}

    {% trans_default_domain 'flat_estate' %}

{% block title %}{{ 'seo.title.history.error'|trans([], 'messages') }}{% endblock %}


{% block content %}


    <div class="col-md-offset-1 col-md-10">
        <div class="alert alert-danger fade in">
            <h4>{{ 'history.error.header'|trans }}</h4>

            <p>{{ 'history.error.description'|trans }}</p>

            <p>
                <a class="btn-u btn-u-green"
                   href="{{ path('flat_estate.history.index') }}">{{ 'history.error.btn_repeat'|trans }}</a>
                <a class="btn-u btn-u-blue" href="{{ path('index') }}">{{ 'history.error.btn_home'|trans }}</a>
            </p>
        </div>
    </div>

{% endblock %}