{% extends ':layout:page.html.twig' %}

    {% form_theme form with [
    '@MBagrovSSParserCommonCommon/Form/form_errors.html.twig',
    ] %}

    {% trans_default_domain 'flat_estate' %}

{% block title %}{{ 'seo.title.history.index'|trans([], 'messages') }}{% endblock %}

{% block content %}


    <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
        {{ form_errors(form) }}
    </div>


    <div class="col-sm-10 col-sm-offset-1">

        <form action="{{ path("flat_estate.history.index") }}" method="POST" class="sky-form flat_estate_get_history">

            {{ form_widget(form._token) }}

            <fieldset>

                <div class="row">
                    <section class="col col-xs-12">
                        <label class="label">{{ 'history.index.label'|trans }}</label>
                        <label class="input{% if form_errors(form.url)|trim|length %} state-error{% endif %}">
                            <i class="icon-prepend fa fa-link"></i>
                            {{ form_widget(form.url) }}
                        </label>
                        {{ form_errors(form.url) }}
                    </section>
                </div>

            </fieldset>


            <footer>
                <div class="row">
                    <div class="col-sm-4 col-sm-offset-2 text-center">
                        <p><button type="submit" class="btn btn-u btn-u-blue">{{ 'history.index.btn.default'|trans }}</button></p>
                    </div>
                    <div class="col-sm-4 text-center">
                        <p><button type="submit" class="btn btn-u btn-u-green">{{ 'history.index.btn.fake'|trans }}</button></p>
                    </div>
                </div>
            </footer>

        </form>

    </div>


{% endblock %}