{% extends ':layout:page.html.twig' %}

    {% trans_default_domain 'flat_estate' %}

{% block title %}{{ 'seo.title.history.list'|trans([], 'messages') }}{% endblock %}

{% block content %}


    {% if data.similarAds|length %}

        <div class="col-md-offset-1 col-md-10">

            <div class="col-sm-6">
                {% include '@MBagrovSSParserEstateFlatEstate/Ad/_partials/show/ad.html.twig' with {ad: data.ad} %}
            </div>


            <div class="col-sm-6">
                {% include '@MBagrovSSParserEstateFlatEstate/History/_partials/ads_with_panel.html.twig' with {ads: data.similarAds} %}


                <p>
                    <a class="btn-u btn-u-green"
                       href="{{ path('flat_estate.history.index') }}">{{ 'history.list.btn_new'|trans }}</a>
                    <a class="btn-u btn-u-blue"
                       href="{{ path('index') }}">{{ 'history.list.btn_home'|trans }}</a>
                </p>

            </div>


        </div>

    {% else %}

        <div class="col-md-offset-1 col-md-10">
            <div class="tag-box tag-box-v2 margin-bottom-40">
                <h4><i class="fa fa-warning"></i>{{ 'history.list.no_history.header'|trans }}</h4>

                <p>{{ 'history.list.no_history.description.1'|trans }}</p>

                <p>{{ 'history.list.no_history.description.2'|trans }} <a
                            href="{{ path('flat_estate.search.new') }}">{{ 'history.list.no_history.description.3'|trans }}</a> {{ 'history.list.no_history.description.4'|trans }}
                </p>
                <br>

                <p>
                    <a class="btn-u btn-u-green"
                       href="{{ path('flat_estate.history.index') }}">{{ 'history.list.btn_repeat'|trans }}</a>
                    <a class="btn-u btn-u-blue"
                       href="{{ path('index') }}">{{ 'history.list.btn_home'|trans }}</a>
                </p>
            </div>


            <div class="col-md-offset-1 col-md-12">

                <div class="col-sm-6">
                    {% include '@MBagrovSSParserEstateFlatEstate/Ad/_partials/show/ad.html.twig' with {ad: data.ad} %}
                </div>

            </div>

        </div>

    {% endif %}


{% endblock %}