.content {
  padding-top: 15px !important;
}

.content-sm {
  padding-top: 10px !important;
}

.view {
  a {
    &.info {
      &:hover {
        background: $themeColor !important;
      }
    }
  }
}

.header-fixed .header.header-fixed-shrink .navbar-nav > .active > a, .header-fixed .header.header-fixed-shrink .navbar-nav > li > a:hover {
  border-bottom: solid 2px $themeColor !important;
}

.wrapper {
  padding-top: 70px;
}


@media (max-width: 768px) {
  .boxed-layout {
    &.header-fixed {
      .header {
        &.header-sticky {
          width: 100% !important;
          //width: inherit !important;
        }
      }
    }
  }
}

.header {
  &.header-sticky {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    position: fixed;
    margin-top: -35px;
    border-bottom: none;
    box-shadow: 0 0 3px #bbb;
    background: rgba(255, 255, 255, .96);
    transition: all .3s ease-in-out;
  }
}

.header .navbar-nav > li > a:focus {
  border-bottom: solid 2px $themeColor !important;
}

@media (max-width: 991px) {
  .header-fixed .header, .header-fixed .header.header-fixed-shrink {
    position: fixed !important;
  }
}

.-align-center {
  text-align: center;
}

.ui-slider-handle {
  cursor: pointer;
}

.interactive-slider-v2 {
  h1 {
    font-size: 36px !important;
    background-color: rgba(0, 0, 0, .6);
  }
}

.panel {
  z-index: -1;
  overflow: visible !important;
}

