
.tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  text-align: left;
  text-align: start;
  font-size: 12px;
  opacity: 1 !important;
  background-color: transparent;

  &.top {
    .tooltip-arrow {
      bottom: -5px;
    }
  }

  ul {
    padding-left: 0px;
  }

  li {
    color: $colorWhite;
    list-style: none;
    text-align: left;
    padding-bottom: 3px;
  }

}

[data-toggle="tooltip"] {
  cursor: pointer;
}

.sky-form {
  .register-email-tooltip + .tooltip {
    z-index: 1000;
    padding: 5px;
    background-color: $themeColor;
    .tooltip-inner {
      background-color: inherit;
    }
    .tooltip-arrow {
      border-top-color: $themeColor;
    }
  }
}

.dataTables_wrapper {
  .tooltip {
    padding: 5px;
    background-color: $colorGreen;
    .tooltip-inner {
      padding: 0;
      background-color: inherit;
    }
    .tooltip-arrow {
      border-top-color: $colorGreen;
    }
  }

  .status {

    &.red {
      .fa {
        color: $colorRed !important;
      }
      & + .tooltip {
        padding: 5px;
        background-color: $colorRed !important;
        .tooltip-inner {
          padding: 0;
          background-color: inherit;
        }
        .tooltip-arrow {
          border-top-color: $colorRed !important;
        }
      }
    }

    &.green {
      .fa {
        color: $colorGreen !important;
      }
      & + .tooltip {
        padding: 5px;
        background-color: $colorGreen !important;
        .tooltip-inner {
          padding: 0;
          background-color: inherit;
        }
        .tooltip-arrow {
          border-top-color: $colorGreen !important;
        }
      }
    }

    &.orange {
      .fa {
        color: $colorOrange !important;
      }
      & + .tooltip {
        padding: 5px;
        background-color: $colorOrange !important;
        .tooltip-inner {
          padding: 0;
          background-color: inherit;
        }
        .tooltip-arrow {
          border-top-color: $colorOrange !important;
        }
      }
    }

  }

}


