

$icon-font-path: '../fonts/';

$fontSizeNormalMinusMinus: 10px;
$fontSizeNormalMinus: 12px;
$fontSizeNormalMinusHalf: 13px;
$fontSizeNormal: 14px;
$fontSizeNormalPlus: 16px;
$fontSizeNormalPlusPlus: 18px;
$fontSizeNormalPlusPlusPlus: 20px;

$colorWhite: #ffffff;

$themeColor: #3498db;
$themeHoverColor: #2980b9;
$themeAdditionalColor: #deeffc;

$colorWhite: #ffffff;
$errorInputColor: #fff0f0;
$colorGreen: #72c02c;

$colorRed: #f56954;

$colorOrange: #f39c11;


$colorDisabled: #FEE6E6;