{% block choice_widget_expanded %}
    {% for child in form %}
        <label class="radio">
            {{ form_widget(child) }}
            <i class="rounded-x"></i>
            {{ child.vars.label | trans }}
        </label>
    {% endfor %}
{% endblock choice_widget_expanded %}