{% block email_widget %}
    {% if form.vars.errors|length %}
        <label class="input state-error">
    {% else %}
        <label class="input">
    {% endif %}
    <i class="icon-prepend fa fa-envelope"></i>
    {{ form_widget(form) }}
    </label>
{% endblock email_widget %}