{% block form_errors %}
    {% spaceless %}
        {% if errors is defined and errors|length > 0 %}
            {% if compound %}
                {% for error in errors %}
                    <div class="alert alert-danger fade in alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert"
                                aria-hidden="true">&times;</button>
                        <strong>{{ 'panel.prefix.error'|trans }}</strong>
                        {{ error.message }}
                    </div>
                {% endfor %}
            {% else %}
                {% if errors|length > 0 %}
                    <em for="{{ form.vars.id }}" class="invalid">{{ errors[0].message }}</em>
                {% endif %}
            {% endif %}
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}