{% block integer_widget %}
    {% if form.vars.errors|length %}
        <label class="input state-error">
    {% else %}
        <label class="input">
    {% endif %}
    {{ form_widget(form) }}
    </label>
{% endblock integer_widget %}