{% block password_widget %}
    {% if form.vars.errors|length %}
        <label class="input state-error">
    {% else %}
        <label class="input">
    {% endif %}
    <i class="icon-prepend fa fa-lock"></i>
    {% spaceless %}
        {% set type = type|default('password') %}
        {{ block('form_widget_simple') }}
    {% endspaceless %}
    </label>
{% endblock password_widget %}