{% trans_default_domain 'flat_estate' %}
<div class="inline-controls new-prefix">

    <div class="control">
        <span data-star-trigger data-id="{{ sAd.uuid }}">
            <i class="fa fa-star{{ sAd.isStarred ? '' : ' -invisible' }}"></i>
            <i class="fa fa-star-o{{ sAd.isStarred ? ' -invisible' : '' }}"></i>
        </span>
    </div>

    <div class="control">
        <i data-trash-trigger data-id="{{ sAd.uuid }}" data-searchId="{{ sAd.search.uuid }}" class="fa fa-trash"></i>
    </div>

    <div class="control">
        <div class="dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                <i class="fa fa-bars"></i>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a data-change-status-trigger data-id="{{ sAd.uuid }}" data-type="0">
                        <i class="fa fa-check{{ sAd.isWillContactSeller ? '' : ' -invisible' }}"></i>
                        <i class="fa fa-times-circle-o{{ sAd.isWillContactSeller ? ' -invisible' : '' }}"></i>
                        <span class="text">{{ 'ad.list.row.actions.contact_seller'|trans }}</span>
                    </a>
                </li>
                <li>
                    <a data-change-status-trigger data-id="{{ sAd.uuid }}" data-type="1">
                        <i class="fa fa-check{{ sAd.isSellerContacted ? '' : ' -invisible' }}"></i>
                        <i class="fa fa-times-circle-o{{ sAd.isSellerContacted ? ' -invisible' : '' }}"></i>
                        <span class="text">{{ 'ad.list.row.actions.contacted_seller'|trans }}</span>
                    </a>
                </li>
                <li>
                    <a data-change-status-trigger data-id="{{ sAd.uuid }}" data-type="2">
                        <i class="fa fa-check{{ sAd.isWillGoView ? '' : ' -invisible' }}"></i>
                        <i class="fa fa-times-circle-o{{ sAd.isWillGoView ? ' -invisible' : '' }}"></i>
                        <span class="text">{{ 'ad.list.row.actions.go_to_view'|trans }}</span>
                    </a>
                </li>
                <li>
                    <a data-change-status-trigger data-id="{{ sAd.uuid }}" data-type="3">
                        <i class="fa fa-check{{ sAd.isViewLiked ? '' : ' -invisible' }}"></i>
                        <i class="fa fa-times-circle-o{{ sAd.isViewLiked ? ' -invisible' : '' }}"></i>
                        <span class="text">{{ 'ad.list.row.actions.view_liked'|trans }}</span>
                    </a>
                </li>
                <li>
                    <a data-change-status-trigger data-id="{{ sAd.uuid }}" data-type="4">
                        <i class="fa fa-check{{ sAd.isViewDisliked ? '' : ' -invisible' }}"></i>
                        <i class="fa fa-times-circle-o{{ sAd.isViewDisliked ? ' -invisible' : '' }}"></i>
                        <span class="text">{{ 'ad.list.row.actions.view_disliked'|trans }}</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

</div>