{% trans_default_domain 'flat_estate' %}

{% extends 'MBagrovSSParserMailerMailerBundle:email/layout:base.html.twig' %}

{% block email_contents %}
    <tr>
        <td width = "100%" height = "50" style = "height: 50px;"></td>
    </tr>

    <tr>
        <td>
            <table width = "133" align = "right" border = "0" cellpadding = "0" cellspacing = "0"
                   class = "devicewidth">
                <tbody>
                <tr>
                    <td width = "103" height = "51" align = "center">
                        <div class = "imgpop">
                            <a href = "{{ url('index') }}">
                                <img src = "{{ message.embed(toEmbed.headerLogo) }}" alt = "" border = "0"
                                     width = "103" height = "51"
                                     style = "display:block; border:none; outline:none; text-decoration:none;">
                                {#<img src="{{ asset('img/logo-small.png') }}" alt="" border="0"#}
                                {#width="103" height="51"#}
                                {#style="display:block; border:none; outline:none; text-decoration:none;">#}
                            </a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>

    <tr>
        <td width = "100%" height = "50" style = "height: 50px;"></td>
    </tr>

    <tr>
        <td>
            <table width = "550" align = "center" border = "0" cellpadding = "0" cellspacing = "0"
                   class = "devicewidth greetingsText fontSize14 fontWeightNormal"
                   style = "line-height: 1.2; text-align: center;">
                <tbody>
                <tr>
                    <td style = "font-weight: bold; font-size: 16px;">
                        {{ 'email.ad.found_new'|trans }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ 'email.ad.below'|trans }}
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>

    <tr>
        <td width = "100%" height = "50" style = "height: 50px;"></td>
    </tr>

    <tr>
        <td>
            <table width = "550" align = "center" border = "0" cellpadding = "0" cellspacing = "0"
                   style = "line-height: 1.2; font-size: 18px;">
                <tbody>
                <tr>
                    <td>
                        {{ 'email.ad.search'|trans }}
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>

    <tr>
        <td width = "100%" height = "10" style = "height: 10px;"></td>
    </tr>

    <tr>
        <td>
            <table bgcolor = "#ffffff" width = "550" valign = "top" align = "center" border = "0" cellpadding = "5" cellspacing = "0"
                   style = "line-height: 1.2; font-size: 14px; background-color: #ffffff; border: 1px solid #2980b9;">
                <tbody>
                <tr>
                    <td width = "75">{{ 'ad.show.table_header.type'|trans }}</td>
                    <td>{% include '@MBagrovSSParserEstateFlatEstate/Search/_partials/list/type.html.twig' with {type: search.getType()} %}</td>
                </tr>
                <tr>
                    <td width = "75">{{ 'ad.show.table_header.city'|trans }}</td>
                    <td>{{ search.getCity().getObject().getTransConst()|trans }}</td>
                </tr>
                {% if (search.getObjects()|length) %}
                    <tr>
                        <td>{{ 'ad.show.table_header.district'|trans }}</td>
                        <td>
                            {% for district in search.getObjects() %}
                                {{ district.getTransConst()|trans }},
                            {% endfor %}
                        </td>
                    </tr>
                {% endif %}
                <tr>
                    <td colspan = "2">
                        <table width = "550" align = "center" border = "0" cellpadding = "0" cellspacing = "0">
                            <tr>
                                <td width = "120">{{ 'ad.show.table_header.floor'|trans }}</td>
                                <td width = "200">{{ search.getFloorMin() }}-{{ search.getFloorMax() }}</td>
                                <td width = "200">{{ 'ad.show.table_header.price'|trans }}</td>
                                <td width = "100">{{ search.getPriceMin() }}-{{ search.getPriceMax() }}</td>
                            </tr>
                            <tr>
                                <td width = "120">{{ 'ad.show.table_header.area'|trans }}<sup>2</sup></td>
                                <td width = "200">{{ search.getAreaMin() }}-{{ search.getAreaMax() }}</td>
                                <td width = "200">{{ 'ad.show.table_header.rooms_count'|trans }}</td>
                                <td width = "100">{{ search.roomsMin }}-{{ search.roomsMax }}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>

    <tr>
        <td width = "100%" height = "15" style = "height: 15px;"></td>
    </tr>

    <tr>
        <td>
            <table width = "550" align = "center" border = "0" cellpadding = "0" cellspacing = "0"
                   style = "line-height: 1.2; font-size: 18px; text-align: center;">
                <tbody>

                <tr>
                    <td>
                        <a style = "text-decoration: none;"
                           href = "{{ url('flat_estate.search.edit', {'id': search.uuid}) }}">
                            <span class = "fontSize14"
                                  style = "font-size: 14px; width: 203px !important; background-color: #3498db; border-bottom: 2px #2980b9 solid; appearance: none; border-left: 0px; border-right: 0; border-top: 0; cursor: pointer; color: #ffffff; padding: 10px 20px 10px 20px; line-height: 16px; text-align: center; white-space: nowrap; color: white;">{{ 'email.ad.btn.change_search'|trans }}</span>
                        </a>
                    </td>
                    <td>
                        <a style = "text-decoration: none;"
                           href = "{{ url('flat_estate.search.show', {'id': search.uuid}) }}">
                            <span class = "fontSize14"
                                  style = "font-size: 14px; width: 203px !important; background-color: #3498db; border-bottom: 2px #2980b9 solid; appearance: none; border-left: 0px; border-right: 0; border-top: 0; cursor: pointer; color: #ffffff; padding: 10px 20px 10px 20px; line-height: 16px; text-align: center; white-space: nowrap; color: white;">{{ 'email.ad.btn.all_ads'|trans }}</span>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>

    <tr>
        <td width = "100%" height = "50" style = "height: 50px;"></td>
    </tr>

    <tr>
        <td>
            <table width = "550" align = "center" border = "0" cellpadding = "0" cellspacing = "0"
                   style = "line-height: 1.2; font-size: 18px;">
                <tbody>
                <tr>
                    <td>
                        {{ 'email.ad.ad'|trans }}
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>

    <tr>
        <td width = "100%" height = "10" style = "height: 10px;"></td>
    </tr>

    <tr>
        <td>
            <table bgcolor = "#ffffff" width = "550" valign = "top" align = "center" border = "0" cellpadding = "5" cellspacing = "0"
                   style = "line-height: 1.2; font-size: 14px; background-color: #ffffff; border: 1px solid #2980b9;">
                <tbody>
                <tr>
                    <td colspan = "2">
                        {{ ad.getText() }}
                    </td>
                </tr>

                <tr>
                    <td>
                        <table width = "270" align = "center" border = "0" cellpadding = "5" cellspacing = "0">
                            <tr>
                                <td>{{ 'ad.show.table_header.city'|trans }}</td>
                                <td>{{ ad.parseObject.object.transConst|trans }}</td>
                            </tr>
                            {% if ad.object is defined and ad.object != null %}
                                <tr>
                                    <td>{{ 'ad.show.table_header.district'|trans }}</td>
                                    <td>{% include '@MBagrovSSParserEstateFlatEstate/Ad/_partials/district.html.twig' with {district: ad.object.transConst} %}</td>
                                </tr>
                            {% endif %}
                            <tr>
                                <td>{{ 'ad.show.table_header.series'|trans }}</td>
                                <td>{% include '@MBagrovSSParserEstateFlatEstate/Ad/_partials/estate_type.html.twig' with {type: ad.estateType.transConst} %}</td>
                            </tr>
                            <tr>
                                <td>{{ 'ad.show.table_header.type'|trans }}</td>
                                <td>{% include '@MBagrovSSParserEstateFlatEstate/Ad/_partials/type.html.twig' with {type: ad.type} %}</td>
                            </tr>
                            <tr>
                                <td>{{ 'ad.show.table_header.rooms_count'|trans }}</td>
                                <td>{{ ad.roomsCount }}</td>
                            </tr>
                            <tr>
                                <td>{{ 'ad.show.table_header.floor'|trans }}</td>
                                <td>{{ ad.floor }}</td>
                            </tr>
                        </table>
                    </td>

                    <td>
                        <table width = "270" align = "center" border = "0" cellpadding = "5" cellspacing = "0">
                            <tr>
                                <td>{{ 'ad.show.table_header.area'|trans }}<sup>2</sup></td>
                                <td>{{ ad.area }}</td>
                            </tr>
                            <tr>
                                <td>{{ 'ad.show.table_header.price'|trans }}</td>
                                <td>{% include '@MBagrovSSParserEstateFlatEstate/Ad/_partials/price.html.twig' with {price: ad.price, type: ad.priceType} %}</td>
                            </tr>
                            <tr>
                                <td>{{ 'ad.show.table_header.price_square'|trans }}</td>
                                <td>{{ ad.pricePerSquare }}</td>
                            </tr>
                            <tr>
                                <td>{{ 'ad.show.table_header.published_at'|trans }}</td>
                                <td>{{ ad.createdAtProvider|date('d.m.Y G:i:s') }}</td>
                            </tr>
                            <tr>
                                <td>{{ 'ad.show.table_header.found_at'|trans }}</td>
                                <td>{{ ad.createdAt|date('d.m.Y G:i:s') }}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>

    <tr>
        <td width = "100%" height = "15" style = "height: 15px;"></td>
    </tr>

    <tr>
        <td>
            <table width = "550" align = "center" border = "0" cellpadding = "0" cellspacing = "0"
                   style = "line-height: 1.2; font-size: 18px; text-align: center;">
                <tbody>

                <tr>
                    <td>
                        <a style = "text-decoration: none;" href = "{{ url('flat_estate.search.ad.show', {'id': searchesAd.uuid}) }}">
                            <span class = "fontSize14"
                                  style = "font-size: 14px; width: 203px !important; background-color: #3498db; border-bottom: 2px #2980b9 solid; appearance: none; border-left: 0px; border-right: 0; border-top: 0; cursor: pointer; color: #ffffff; padding: 10px 20px 10px 20px; line-height: 16px; text-align: center; white-space: nowrap; color: white;">{{ 'email.ad.btn.view.adds_lv'|trans }}</span>
                        </a>
                    </td>
                    {% if not ad.isInactive() %}
                        <td>
                            <a style = "text-decoration: none;" href = "{{ ad.shortUrl }}">
                            <span class = "fontSize14"
                                  style = "font-size: 14px; width: 203px !important; background-color: #3498db; border-bottom: 2px #2980b9 solid; appearance: none; border-left: 0px; border-right: 0; border-top: 0; cursor: pointer; color: #ffffff; padding: 10px 20px 10px 20px; line-height: 16px; text-align: center; white-space: nowrap; color: white;">{{ 'email.ad.btn.view.ss_lv'|trans }}</span>
                            </a>
                        </td>
                    {% endif %}
                </tr>
                </tbody>
            </table>
        </td>
    </tr>

    {% if history is defined and history|length %}

        <tr>
            <td width = "100%" height = "50" style = "height: 50px;"></td>
        </tr>

        <tr>
            <td>
                <table width = "550" align = "center" border = "0" cellpadding = "0" cellspacing = "0"
                       style = "line-height: 1.2; font-size: 18px;">
                    <tbody>
                    <tr>
                        <td>
                            {{ 'history.list.panel_header'|trans }}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>

        <tr>
            <td width = "100%" height = "10" style = "height: 10px;"></td>
        </tr>

        <tr>
            <td>
                <table bgcolor = "#ffffff" width = "550" valign = "top" align = "center" border = "0" cellpadding = "5" cellspacing = "0"
                       style = "line-height: 1.2; font-size: 14px; background-color: #ffffff; border: 1px solid #2980b9;">
                    <tbody>

                    <tr>
                        <td>
                            <table width = "540" align = "center" border = "0" cellpadding = "5" cellspacing = "0">
                                <thead>
                                <tr>
                                    <th>{{ 'history.list.table.header.1'|trans }}</th>
                                    <th>{{ 'history.list.table.header.2'|trans }}</th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for ad in history %}
                                    <tr>
                                        <td align = "center">{{ ad.createdAtProvider|date('d.m.Y G:i:s') }}</td>
                                        <td align = "center">{% include '@MBagrovSSParserEstateFlatEstate/Ad/_partials/price.html.twig' with {price: ad.price, type: ad.priceType} %}</td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </td>

                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>

    {% endif %}

    <tr>
        <td width = "100%" height = "100" style = "height: 100px;"></td>
    </tr>

    <tr>
        <td>
            <table width = "550" align = "center" border = "0" cellpadding = "0" cellspacing = "0"
                   class = "devicewidth greetingsText fontWeightNormal"
                   style = "line-height: 1.2; color: grey; text-align: center;">
                <tbody>
                <tr>
                    <td style = "font-size: 12px;">
                        {{ 'email.ad.footer.1'|trans }} <a
                                href = "{{ url('index') }}">www.adds.lv</a> {{ 'email.ad.footer.2'|trans }} {{ 'email.ad.footer.3'|trans }}
                        <a href = "{{ url('flat_estate.search.edit', {'id': search.uuid}) }}">{{ 'email.ad.footer.4'|trans }}</a> {{ 'email.ad.footer.5'|trans }}
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>

    <tr>
        <td width = "100%" height = "30" style = "height: 30px;"></td>
    </tr>

{% endblock %}