{% extends 'layout/base.html.twig' %}

{% trans_default_domain 'common' %}

{% block title %}{{ 'seo.title.error.error'|trans([], 'messages') }}{% endblock %}

{% block body %}

    <div class="container content">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="error-v3">
                    <h2>{% block error_code %}{% endblock %}</h2>

                    <p>{% block error_descr %}{% endblock %}</p>
                </div>
            </div>
        </div>

        <div class="row service-block-v2">
            <div class="col-md-2"></div>

            <div class="col-md-4">
                <div class="service-block-in service-or">
                    {% block possible_reason %}{% endblock %}
                </div>
            </div>

            <div class="col-md-4">
                <div class="service-block-in service-or">
                    <div class="service-bg"></div>
                    <i class="fa fa-users"></i>
                    <h4>{{ 'error.common.section.2.1'|trans }}</h4>

                    <p>{{ 'error.common.section.2.2'|trans }}</p>
                    <a class="btn-u btn-brd btn-u-light" href="{{ path('common.contacts.index') }}">{{ 'error.common.section.2.3'|trans }}</a>
                </div>
            </div>
        </div>
    </div>

{% endblock body %}

{% block javascripts %}
    <script type="text/javascript">
        $.backstretch([
            "/../img/img2.jpg"
        ]);
    </script>
{% endblock %}