{% extends '@MBagrovSSParserCommonCommon/Error/error.html.twig' %}

{% trans_default_domain 'common' %}

{% block error_code %}{{ 'error.general.status'|trans }}{% endblock %}
{% block error_descr %}{{ 'error.general.message'|trans }}{% endblock %}
{% block possible_reason %}
    <div class="service-bg"></div>
    <i class="fa fa-map-signs"></i>
    <h4>{{ 'error.common.section.3.1'|trans }}</h4>

    <p>{{ 'error.common.section.3.2'|trans }}</p>
    <a class="btn-u btn-brd btn-u-light" href="{{ path('index') }}">{{ 'error.common.section.3.3'|trans }}</a>
{% endblock %}