{% extends '@MBagrovSSParserCommonCommon/Error/error.html.twig' %}

{% trans_default_domain 'common' %}

{% block title %}{{ 'seo.title.error.not_found'|trans([], 'messages') }}{% endblock %}

{% block error_code %}{{ 'error.not_found.status'|trans }}{% endblock %}
{% block error_descr %}{{ 'error.not_found.message'|trans }}{% endblock %}
{% block possible_reason %}
    <div class="service-bg"></div>
    <i class="fa fa-map-signs"></i>
    <h4>{{ 'error.common.section.1.1'|trans }}</h4>

    <p>{{ 'error.common.section.1.2'|trans }}</p>
    <a class="btn-u btn-brd btn-u-light" href="{{ path('index') }}">{{ 'error.common.section.1.3'|trans }}</a>
{% endblock %}