{% extends ':layout:page.html.twig' %}

{% trans_default_domain 'frontend' %}

{% block breadcumb %}
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">
                {{ 'search.categories.breadcumb'|trans }}
            </h1>
        </div>
    </div>
{% endblock %}



{% block content %}
    <div class="container content-sm">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="view view-tenth">
                    <img class="img-responsive" style="height: 200px;" src="{{ asset('img/flats_search.jpg') }}" alt="" />
                    <div class="mask">
                        <h2>{{ 'search.categories.estate.flats.header'|trans }}</h2>
                        <p>{{ 'search.categories.estate.flats.description'|trans }}</p>
                        <a href="{{ path('flat_estate.search.new') }}" class="info">{{ 'search.categories.estate.flats.btn'|trans }}</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}