<i class="fa fa-question-circle" data-toggle="tooltip" data-placement="top" title=""
   data-html="true"
   data-original-title='{% include "MBagrovSSParserCommonCommonBundle:Order/_partials:price_explanation.html.twig" with {rows: explainedPrice.sms.explained } %}'></i>
<span>{{ explainedPrice.sms.total|number_format(2, '.', ',') }}</span>