{% trans_default_domain 'common' %}
{% if rows is defined and rows|length %}
    <div class="col-sm-12">
        <div class="row title">
            <div class="col-sm-4 col-xs-4">{{ 'order.table.header.count'|trans }}</div>
            <div class="col-sm-4 col-xs-4">{{ 'order.table.header.pp_one'|trans }}</div>
            <div class="col-sm-4 col-xs-4">{{ 'order.table.header.ttl'|trans }}</div>
        </div>
        {% for row in rows %}
            <div class="row">
                <div class="col-sm-4 col-xs-4">{{ row.count }}</div>
                <div class="col-sm-4 col-xs-4">{{ row.current|number_format(2, '.', ',') }}</div>
                <div class="col-sm-4 col-xs-4">{{ row.total|number_format(2, '.', ',') }}</div>
            </div>
        {% endfor %}
    </div>

{% endif %}