{% trans_default_domain 'common' %}
{% set tooltipTexts = [] %}
{% set statusIcon = 'fa-play' %}
{% set tooltipText = order.status %}
{% set tooltipColorClass = 'green' %}

{% if order.status == 0 %}
    {% set statusIcon = 'fa-warning' %}
    {% set tooltipColorClass = 'orange' %}
    {% set tooltipText = 'order.list.status.aborted'|trans %}
{% elseif order.status == 1 %}
    {% set statusIcon = 'fa-check-circle' %}
    {% set tooltipColorClass = 'green' %}
    {% set tooltipText = 'order.list.status.success'|trans %}
{% else %}
    {% set statusIcon = 'fa-warning' %}
    {% set tooltipColorClass = 'red' %}
    {% set tooltipText = 'order.list.status.failed'|trans %}
{% endif %}

<div class="status {{ tooltipColorClass }}" data-toggle="tooltip" data-placement="top" title=""
     data-html="true"
     data-original-title='{{ tooltipText }}'>
    <i class="fa {{ statusIcon }}"></i>
</div>