{% trans_default_domain 'common' %}
<i class="fa fa-question-circle" data-toggle="tooltip" data-placement="top" title=""
   data-html="true"
   data-original-title='{{ 'order.table.uuid_title'|trans }}'></i>
<span>{{ order.uuid }}</span>