{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'common' %}

{% block title %}{{ 'seo.title.password_reset.checkEmail'|trans([], 'messages') }}{% endblock %}

{% block fos_user_content %}
    {% block alert_block %}
    {% endblock %}
    {% set emailParts = email|split('@') %}
    {% set emailDomain = emailParts[emailParts|length-1] %}


    <div class="col-md-offset-1 col-md-10">

        <div class="tag-box tag-box-v2 margin-bottom-40">
            <h4>{{ 'reseting.check_email.header'|trans }}</h4>

            <p>{{ 'reseting.check_email.message'|trans({'EMAIL': email}) }}</p>

            <br>

            <p>
                <a target="_blank" class="btn-u btn-u-blue" href="http://{{ emailDomain }}">{{ 'reseting.check_email.btn'|trans }}</a>
            </p>

        </div>

    </div>


{% endblock fos_user_content %}
