{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'common' %}

{% block title %}{{ 'seo.title.password_reset.alreadyRequested'|trans([], 'messages') }}{% endblock %}

{% block fos_user_content %}
    {% block alert_block %}
    {% endblock %}

    <div class="alert alert-danger fade in">
        <h4>{{ 'reseting.already_requested.header'|trans }}</h4>
        <p>{{ 'reseting.already_requested.message'|trans }}</p>
        <p>
            <a class="btn-u btn-u-blue" href="{{ path('common.contacts.index') }}">{{ 'reseting.already_requested.btn.contact'|trans }}</a>
            <a class="btn-u btn-u-red" href="{{ path('index') }}">{{ 'reseting.already_requested.btn.home'|trans }}</a>
        </p>
    </div>
{% endblock fos_user_content %}
