{% trans_default_domain 'common' %}

{% if invalid_username is defined %}
    <div class="alert alert-danger fade in alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>{{ 'flash.error'|trans }}</strong>
        {{ 'reseting.request.error'|trans }}: {{ invalid_username }}
    </div>
{% endif %}

<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="sky-form fos_user_resetting_request">
    <header>{{ 'reseting.request.header'|trans }}</header>

    <fieldset>

        <div class="row">
            <section class="col col-xs-12">
                <label class="input">
                    <i class="icon-prepend fa fa-envelope"></i>
                    <input type="email" id="username" name="username" class="form-control" required="required"
                           placeholder="{{ 'reseting.request.email'|trans }}"/>
                </label>
            </section>
        </div>

    </fieldset>

    <footer>
        <button type="submit" class="btn-u">{{ 'reseting.request.btn'|trans }}</button>
    </footer>

</form>
