{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}{{ 'seo.title.password_reset.index'|trans([], 'messages') }}{% endblock %}

{% block fos_user_content %}
    <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
        {% include "FOSUserBundle:Resetting:request_content.html.twig" %}
    </div>
{% endblock fos_user_content %}

{% block javascripts %}

    <script type="text/javascript" src="{{ asset('js/locale/' ~ app.request.locale ~ '/reg.validation.js') }}"></script>


    <script type="text/javascript">
        $(document).ready(function () {
            passwrd_reset.initValidation();
        });
    </script>


{% endblock %}