{% trans_default_domain 'common' %}

{% form_theme form _self %}
{% block form_errors %}
    {% spaceless %}
        {% if errors is defined and errors|length > 0 %}
            {% if compound %}
                {% for error in errors %}
                    <div class="alert alert-danger fade in alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert"
                                aria-hidden="true">&times;</button>
                        <strong>{{ 'flash.error'|trans }}</strong>
                        {{ error.message }}
                    </div>
                {% endfor %}
            {% else %}
                {% if errors|length > 0 %}{{ errors[0].message }}{% endif %}
            {% endif %}
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{{ form_errors(form) }}

<form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST"
      class="sky-form fos_user_resetting_reset">
    <header>{{ 'reseting.reset.header'|trans }}</header>
    {{ form_widget(form._token) }}

    <fieldset>
        <div class="row">
            <section class="col col-xs-6">
                <label class="input{% if form_errors(form.plainPassword.first)|trim|length %} state-error{% endif %}">
                    <i class="icon-prepend fa fa-lock"></i>
                    {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control',  'placeholder': 'reseting.reset.password'|trans} }) }}
                </label>
                {% if form_errors(form.plainPassword.first)|trim|length %}
                    <em for="{{ form.plainPassword.first.vars.id }}" class="invalid">{{ form_errors(form.plainPassword.first) }}</em>
                {% endif %}
            </section>
            <section class="col col-xs-6">
                <label class="input{% if form_errors(form.plainPassword.second)|trim|length %} state-error{% endif %}">
                    <i class="icon-prepend fa fa-lock"></i>
                    {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control',  'placeholder': 'reseting.reset.password_confirm'|trans} }) }}
                </label>
                {% if form_errors(form.plainPassword.second)|trim|length %}
                    <em for="{{ form.plainPassword.second.vars.id }}"
                        class="invalid">{{ form_errors(form.plainPassword.second) }}</em>
                {% endif %}
            </section>
        </div>
    </fieldset>

    <footer>
        <button type="submit" class="btn-u">{{ 'reseting.reset.btn'|trans }}</button>
    </footer>
</form>
