{% extends 'layout/page.html.twig' %}

{% block meta %}
    <meta name="description" content="{{ 'seo.meta.description.index'|trans([], 'messages') }}">
{% endblock %}

{% block content %}
    <section id="home" style="margin-top: -20px;">
        <div class="interactive-slider-v2">
            <div class="container">
                <h1>{{ 'index.h1'|trans }}</h1>
            </div>
        </div>


    </section>

    <section id="services" class="content-md" style="margin-top: -30px;">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <ul class="list-unstyled margin-bottom-20 -align-center">
                        <li><h2>{{ 'index.h2'|trans }}</h2></li>
                        <li>{{ 'index.1'|trans }}</li>
                        <li>{{ 'index.2'|trans }}</li>
                        <li><h5>{{ 'index.3'|trans }}</h5> </li>
                        <li>{{ 'index.4'|trans }}</li>
                        <li><h6>{{ 'index.5'|trans }}</h6></li>
                    </ul>
                </div>
            </div>
            <div class="headline">
                <h2>{{ 'index.23'|trans }}</h2>
            </div>
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="col-sm-6 col-sm-offset-3">
                        <ul class="list-unstyled  margin-bottom-20">
                            <li>
                                <i class="fa fa-check color-green"></i>
                                {{ 'index.6'|trans }}
                            </li>
                            <li>
                                <i class="fa fa-check color-green"></i>
                                {{ 'index.7'|trans }}
                            </li>
                            <li>
                                <i class="fa fa-check color-green"></i>
                                {{ 'index.8'|trans }}
                            </li>
                            <li>
                                <i class="fa fa-check color-green"></i>
                                {{ 'index.9'|trans }}
                            </li>
                            <li>
                                <i class="fa fa-check color-green"></i>
                                {{ 'index.10'|trans }}
                            </li>
                            <li>
                                <i class="fa fa-check color-green"></i>
                                {{ 'index.11'|trans }}
                            </li>
                            <li>
                                <i class="fa fa-check color-green"></i>
                                <a class="color-green" href="{{ path('flat_estate.history.index') }}">{{ 'index.12'|trans }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h4>{{ 'index.24'|trans }}</h4>

                    <div class="col-sm-4">
                        <div class="tag-box tag-box-v6">
                            <p>
                                <span class="dropcap-bg rounded-x">1</span>
                                <a href="{{ path('fos_user_registration_register') }}">{{ 'index.26'|trans }}</a> {{ 'index.13'|trans }}
                            </p>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="tag-box tag-box-v6">
                            <p>
                                <span class="dropcap-bg rounded-x">2</span>
                                {{ 'index.14'|trans }}
                            </p>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="tag-box tag-box-v6">
                            <p>
                                <span class="dropcap-bg rounded-x">3</span>
                                {{ 'index.15'|trans }}
                            </p>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </section>

    <section id="pricing" style="margin-top: -30px; padding-top: 30px;">
        <div class="headline">
            <h2>{{ 'index.25'|trans }}</h2>
        </div>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">

                <h5 class="margin-bottom-20 -align-center">
                    {{ 'index.16'|trans }}
                </h5>

                <ul class="list-unstyled  margin-bottom-20">
                    <li>
                        <i class="fa fa-check color-green"></i>
                        {{ 'index.17'|trans }}
                    </li>
                    <li>
                        <i class="fa fa-check color-green"></i>
                        {{ 'index.18'|trans({EMAIL_MIN_PRICE: minPrices.email}) }}
                    </li>
                    <li>
                        <i class="fa fa-check color-green"></i>
                        {{ 'index.19'|trans({SMS_MIN_PRICE: minPrices.sms}) }}
                    </li>
                    <li>
                        <i class="fa fa-check color-green"></i>
                        {{ 'index.20'|trans }}
                    </li>
                    <li>
                        <i class="fa fa-check color-green"></i>
                        {{ 'index.21'|trans }}
                    </li>
                </ul>

                <h3 class="-align-center">{{ 'index.22'|trans({EMAIL_REG_BONUS: regBonus.email, SMS_REG_BONUS: regBonus.sms}) }}</h3>


            </div>
        </div>
    </section>

{% endblock %}

{% block javascripts %}

    <script type="text/javascript">
        $(document).ready(function () {
//            Index.initSlider()
        });
    </script>

{% endblock %}