{% extends 'layout/page.html.twig' %}


        {% block content %}

            <form name="adyenForm" action="https://test.adyen.com/hpp/select.shtml" method="post">

                {% for key, value in params %}
                    <input type="hidden" name="{{ key }}" value="{{ value }}"/>
                {% endfor %}

                <input type="submit" value="Submit"/>
            </form>

        {% endblock %}
