{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}{{ 'seo.title.profile.buyNotifications'|trans([], 'messages') }}{% endblock %}

{% block content %}
    {% include "MBagrovSSParserCommonCommonBundle:Order:new.html.twig" %}
{% endblock %}

{% block javascripts %}

    <script type="text/javascript">
        $(document).ready(function () {
            OrderCreate.initSliders();
        });
    </script>

{% endblock %}
