{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}{{ 'seo.title.profile.ordersList'|trans([], 'messages') }}{% endblock %}

{% block content %}
    {% include "MBagrovSSParserCommonCommonBundle:Order:list.html.twig" %}
{% endblock %}

{% block javascripts %}

    <script type="text/javascript">
        $(document).ready(function () {
            OrderTable.initTooltips();
            OrderTable.initDataTable();
        });
    </script>

{% endblock %}
