{% trans_default_domain 'common' %}

<div class="fos_user_user_show">

    <div class="col-md-3 md-margin-bottom-40">

        <ul class="list-group sidebar-nav-v1 margin-bottom-40" id="sidebar-nav-1">
            <li class="list-group-item{% if app.request.attributes.get('_route') == 'fos_user_profile_show' %} active{% endif %}">
                <a href="{{ path('fos_user_profile_show') }}"><i class="fa fa-bar-chart-o"></i> {{ 'profile.menu.stats'|trans }}</a>
            </li>
            <li class="list-group-item{% if app.request.attributes.get('_route') == 'fos_user_change_password' %} active{% endif %}">
                <a href="{{ path('fos_user_change_password') }}"><i class="fa fa-user"></i> {{ 'profile.menu.profile'|trans }}</a>
            </li>
            <li class="list-group-item{% if app.request.attributes.get('_route') == 'common.order.create' %} active{% endif %}">
                <a href="{{ path('common.order.create') }}"><i class="fa fa-cart-arrow-down"></i> {{ 'profile.menu.buy_notifications'|trans }}</a>
            </li>
            <li class="list-group-item{% if app.request.attributes.get('_route') == 'common.order.list' %} active{% endif %}">
                <a href="{{ path('common.order.list') }}"><i class="fa fa-list-ul"></i> {{ 'profile.menu.orders'|trans }}</a>
            </li>
        </ul>

    </div>


    <div class="col-md-9">
        <div class="tag-box tag-box-v3 col-md-12 profile-contents">
            {% block profile_contents %}

            {% endblock %}
        </div>
    </div>

</div>