{% extends 'MBagrovSSParserCommonCommonBundle:Profile:profile_layout.html.twig' %}
{% trans_default_domain 'common' %}

    {% block profile_contents %}
        <div class="headline"><h2>{{ 'profile.show.searches.header'|trans }}</h2></div>
        <div class="main-counters margin-bottom-40">

            <div class="counters col-md-3 col-sm-3">
                <span class="counter">{{ searches.count }}</span>
                <h4>{{ 'profile.show.searches.total'|trans }}</h4>
            </div>

            <div class="counters col-md-3 col-sm-3">
                <span class="counter">{{ adsCount }}</span>
                <h4>{{ 'profile.show.searches.total_ads'|trans }}</h4>
            </div>

            <div class="counters col-md-3 col-sm-3">
                <span class="counter">{{ avgAdsPerDay }}</span>
                <h4>{{ 'profile.show.searches.ads_per_day'|trans }}</h4>
            </div>

            <div class="counters col-md-3 col-sm-3">
                <span class="counter">{{ avgAdsPerSearch }}</span>
                <h4>{{ 'profile.show.searches.ads_per_search'|trans }}</h4>
            </div>

        </div>


        <div class="headline"><h2>{{ 'profile.show.notifications.header'|trans }}</h2></div>
        <div class="row pie-progress-charts margin-bottom-60">

            <div class="inner-pchart col-md-4">
                <input id="notifications-count-val" type="hidden"
                       value="{{ smsNotificationCount + emailNotificationCount }}">

                <div class="circle" id="notifications-count"></div>
                <h3 class="circle-title">{{ 'profile.show.notifications.total_sent'|trans }}</h3>
            </div>

            <div class="inner-pchart col-md-4">
                <input id="sms-notifications-count-val" type="hidden" value="{{ smsNotificationCount }}">

                <div class="circle" id="sms-notifications-count"></div>
                <h3 class="circle-title">{{ 'profile.show.notifications.sms.header'|trans }}</h3>

                <p>{{ 'profile.show.notifications.sms.total_sent'|trans }}</p>
            </div>

            <div class="inner-pchart col-md-4">
                <input id="email-notifications-count-val" type="hidden" value="{{ emailNotificationCount }}">

                <div class="circle" id="email-notifications-count"></div>
                <h3 class="circle-title">{{ 'profile.show.notifications.email.header'|trans }}</h3>

                <p>{{ 'profile.show.notifications.email.total_sent'|trans }}</p>
            </div>

        </div>

        <div class="main-counters margin-bottom-40">

            <div class="counters col-md-6 col-sm-6">
                <span class="counter">{{ user.phoneNotifications }}</span>
                <h4>{{ 'profile.show.notifications.sms.available'|trans }}</h4>
            </div>
            <div class="counters col-md-6 col-sm-6">
                <span class="counter">{{ user.emailNotifications }}</span>
                <h4>{{ 'profile.show.notifications.email.available'|trans }}</h4>
            </div>

        </div>
    {% endblock %}
