{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}{{ 'seo.title.profile.stats'|trans([], 'messages') }}{% endblock %}

{% block fos_user_content %}
    {% include "FOSUserBundle:Profile:show_content.html.twig" %}
{% endblock fos_user_content %}

{% block javascripts %}

    <script type="text/javascript">
        $(document).ready(function () {
            ProfileOverall.initCircles();
            ProfileOverall.initCounters();
        });
    </script>

{% endblock %}