
<div class="collapse navbar-collapse mega-menu navbar-responsive-collapse">
    <div class="container">
        <ul class="nav navbar-nav page-scroll">
            <li>
                <a href="{{ path('index') }}#home" data-target="#home">{{ 'header.navigation.home'|trans }}</a>
            </li>
            {#<li>#}
                {#<a href="{{ path('index') }}#about" data-target="#about">{{ 'header.navigation.about'|trans }}</a>#}
            {#</li>#}
            <li>
                <a href="{{ path('index') }}#services" data-target="#services">{{ 'header.navigation.services'|trans }}</a>
            </li>
            <li>
                <a href="{{ path('index') }}#pricing" data-target="#pricing">{{ 'header.navigation.pricing'|trans }}</a>
            </li>
            <li class="{% if app.request.attributes.get('_route') == 'common_contacts' %}active{% endif %}">
                <a href="{{ path('common.contacts.index') }}">{{ 'header.navigation.contacts'|trans }}</a>
            </li>
            <li class="{% if app.request.attributes.get('_route') == 'flat_estate.history.index' %}active{% endif %}">
                <a href="{{ path('flat_estate.history.index') }}">{{ 'header.navigation.history'|trans }}</a>
            </li>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

                {% set searchListActive = false %}
                {% set newSearchActive = false %}

                {% if app.request.attributes.get('_route') == 'flat_estate.search.index' %}
                    {% set searchListActive = true %}
                {% elseif app.request.attributes.get('_route') == 'flat_estate.search.new' %}
                    {% set newSearchActive = true %}
                {% endif %}

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle not-clickable" data-toggle="dropdown">{{ 'header.navigation.searches.main'|trans }}</a>


                    <ul class="dropdown-menu">
                        <li class="dropdown-submenu">
                            <a href="{{ path('flat_estate.search.index') }}">{{ 'header.navigation.searches.all'|trans }}</a>
                        </li>
                        <li class="dropdown-submenu">
                            <a href="{{ path('flat_estate.search.new') }}">{{ 'header.navigation.searches.new'|trans }}</a>
                        </li>
                    </ul>
                </li>

            {% else %}
                <li><a href="{{ path('fos_user_registration_register') }}">{{ 'header.account.signup'|trans }}</a></li>
            {% endif %}
        </ul>
    </div>
</div>