{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'common' %}
{% block title %}{{ 'seo.title.security.login'|trans([], 'messages') }}{% endblock %}

{% block fos_user_content %}

    {% if error %}
        <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
            <div class="alert alert-danger fade in alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <strong>{{ 'flash.error'|trans }}</strong>
                {{ error.message }}
            </div>
        </div>
    {% endif %}


    <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">

        <form action="{{ path("fos_user_security_check") }}" method="POST" class="sky-form reg-page login-page border-top">
            {#<header>Log In</header>#}

            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>

            <div class="reg-block-header">
                <h2>{{ 'security.login.log_in'|trans }}</h2>
                <ul class="social-icons text-center">
                    <li><a class="rounded-x social_facebook" data-original-title="Facebook" href="{{ path('hwi_oauth_service_redirect', {'service': 'facebook' }) }}"></a></li>
                    <li><a class="rounded-x social_googleplus" data-original-title="Google Plus" href="{{ path('hwi_oauth_service_redirect', {'service': 'google' }) }}"></a></li>
                </ul>
                <p>{{ 'security.login.reg.first'|trans }} <a class="color-blue" href="{{ path('fos_user_registration_register') }}">{{ 'security.login.reg.second'|trans }}</a></p>
            </div>

            <fieldset>

                <div class="row">
                    <section class="col col-xs-12">
                        <label class="input">
                            <i class="icon-prepend fa fa-envelope"></i>
                            <input type="email" id="username_email" name="_username" value="{{ last_username }}"
                                   required="required" placeholder="{{ 'security.login.email'|trans }}"/>
                        </label>
                    </section>
                </div>

                <div class="row">
                    <section class="col col-xs-12">
                        <label class="input">
                            <i class="icon-prepend fa fa-lock"></i>
                            <input type="password" id="password" name="_password" required="required"
                                   placeholder="{{ 'security.login.password'|trans }}"/>
                        </label>
                    </section>
                </div>

                <div class="row">
                    <section class="col col-xs-8">
                        <label class="checkbox">
                            <input type="checkbox" id="remember_me" name="_remember_me" value="on">
                            <i></i>
                            {{ 'security.login.remember_me'|trans }}
                        </label>
                    </section>
                    <section class="col col-xs-4">
                        <button type="submit" id="_submit" name="_submit" class="btn-u pull-right">{{ 'security.login.btn'|trans }}</button>
                    </section>
                </div>

            </fieldset>
            {#<input type="hidden" name="_target_path" value="frontend_search_categories" />#}
            <footer>
                <h4>{{ 'security.login.reseting.header'|trans }}</h4>
                <p>{{ 'security.login.reseting.first'|trans }} <a class="color-blue" href="{{ path('fos_user_resetting_request') }}">{{ 'security.login.reseting.second'|trans }}</a> {{ 'security.login.reseting.third'|trans }}</p>
            </footer>
        </form>

    </div>
{% endblock fos_user_content %}
