{% trans_default_domain 'flat_estate' %}
<div class="dropdown">
    <a href="#" data-toggle="dropdown" class="dropdown-toggle">
        <i class="fa fa-bars"></i>
    </a>
    <ul class="dropdown-menu pull-right">
        <li>
            <a class="toggle-notifications" href="{{ path('flat_estate.search.toggle_notification', {'id': search.uuid, 'type': 0}) }}">
                <i class="fa fa-mobile-phone"></i>
                {{ search.isSms ? 'search.list.actions.disable'|trans : 'search.list.actions.enable'|trans }} {{ 'search.list.actions.sms'|trans }}
            </a>
        </li>
        <li>
            <a class="toggle-notifications" href="{{ path('flat_estate.search.toggle_notification', {'id': search.uuid, 'type': 1}) }}">
                <i class="fa fa-envelope-o"></i>
                {{ search.isEmail ? 'search.list.actions.disable'|trans : 'search.list.actions.enable'|trans }} {{ 'search.list.actions.email'|trans }}
            </a>
        </li>
        <li>
            <a href="{{ path('flat_estate.search.show', {'id': search.uuid}) }}">
                <i class="fa fa-external-link"></i>{{ 'search.list.actions.show'|trans }}
            </a>
        </li>
        <li>
            <a href="{{ path('flat_estate.search.edit', {'id': search.uuid}) }}">
                <i class="fa fa-pencil"></i>{{ 'search.list.actions.edit'|trans }}
            </a>
        </li>
    </ul>
</div>