{% trans_default_domain 'flat_estate' %}
<div data-toggle="tooltip" data-placement="top" title=""
     data-html="true"
     data-original-title='{% include "@MBagrovSSParserEstateFlatEstate/Search/_partials/list/districts_tooltip.html.twig" with {districts: districts} %}'>
    <i class="fa fa-question-circle"></i>
    {% if not districts|length %}
        {{ 'search.list.districts.all'|trans }}
    {% else %}
        {{ districts|length }}
    {% endif %}
</div>
