{% trans_default_domain 'flat_estate' %}
{% if districts|length %}
    {% for district in districts %}
        <span class="label label-u">{{ district.getTransConst|trans }}</span>
    {% endfor %}
{% else %}
    {{ 'search.list.districts.tooltip.all'|trans }}
{% endif %}