{% trans_default_domain 'flat_estate' %}
<div data-toggle="tooltip" data-placement="top" title=""
     data-html="true"
     data-original-title='{% include "@MBagrovSSParserEstateFlatEstate/Search/_partials/list/estate_types_tooltip.html.twig" with {estateTypes: estateTypes} %}'>
    <i class="fa fa-question-circle"></i>
    {% if not estateTypes|length %}
        {{ 'search.list.estate_types.all'|trans }}
    {% else %}
        {{ estateTypes|length }}
    {% endif %}
</div>
