{% trans_default_domain 'flat_estate' %}
{% set tooltipTexts = [] %}
{% set statusIcon = 'fa-play' %}
{% set tooltipText = '' %}
{% set tooltipColorClass = 'green' %}

{% if status == 0 %}

    {% set tooltipTexts = tooltipTexts|merge(['search.list.status_icon.status.disabled'|trans]) %}
    {% set statusIcon = 'fa-stop' %}
    {% set tooltipColorClass = 'red' %}

{% else %}

    {% if not canBeSms and not canBeEmail %}
        {% set tooltipTexts = tooltipTexts|merge(['search.list.status_icon.profile.not_available'|trans]) %}
        {% set statusIcon = 'fa-stop' %}
        {% set tooltipColorClass = 'red' %}
    {% elseif isSms or isEmail %}

        {% if isSms %}
            {% if canBeSms %}
                {% set tooltipTexts = tooltipTexts|merge(['search.list.status_icon.sms.enabled'|trans]) %}
            {% else %}
                {% set tooltipTexts = tooltipTexts|merge(['search.list.status_icon.sms.not_sent'|trans]) %}
            {% endif %}
        {% else %}
            {% set tooltipTexts = tooltipTexts|merge(['search.list.status_icon.sms.can_be_sent'|trans]) %}
        {% endif %}

        {% if isEmail %}
            {% if canBeEmail %}
                {% set tooltipTexts = tooltipTexts|merge(['search.list.status_icon.email.enabled'|trans]) %}
            {% else %}
                {% set tooltipTexts = tooltipTexts|merge(['search.list.status_icon.email.not_sent'|trans]) %}
            {% endif %}
        {% else %}
            {% set tooltipTexts = tooltipTexts|merge(['search.list.status_icon.email.can_be_sent'|trans]) %}
        {% endif %}

        {% if (isSms and not isEmail) and not canBeSms %}
            {% set statusIcon = 'fa-pause' %}
            {% set tooltipColorClass = 'orange' %}
        {% endif %}

        {% if (isEmail and not isSms) and not canBeEmail %}
            {% set statusIcon = 'fa-pause' %}
            {% set tooltipColorClass = 'orange' %}
        {% endif %}

    {% else %}

        {% set statusIcon = 'fa-pause' %}
        {% set tooltipColorClass = 'orange' %}

        {% set tooltipTexts = tooltipTexts|merge(['search.list.status_icon.profile.all_available'|trans]) %}

    {% endif %}

{% endif %}

{% for text in tooltipTexts %}
    {% set tooltipText = tooltipText ~ '<li>' ~ text ~ '</li>' %}
{% endfor %}

{% set tooltipText = '<ul>' ~ tooltipText ~ '</ul>' %}

<div class="status {{ tooltipColorClass }}" data-toggle="tooltip" data-placement="top" title=""
     data-html="true"
     data-original-title='{{ tooltipText }}'>
    <i class="fa {{ statusIcon }}"></i>
</div>