{% trans_default_domain 'flat_estate' %}
{% if type == -1 %}
    {{ 'search.list.type.all'|trans }}
{% elseif type == 0 %}
    {{ 'search.list.type.rent'|trans }}
{% else %}
    {{ 'search.list.type.sell'|trans }}
{% endif %}