{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}{{ 'seo.title.profile.info'|trans([], 'messages') }}{% endblock %}

{% block fos_user_content %}
{% include "FOSUserBundle:ChangePassword:changePassword_content.html.twig" %}
{% endblock fos_user_content %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/locale/' ~ app.request.locale ~ '/reg.validation.js') }}"></script>

    {#<script type="text/javascript" src="https://js.stripe.com/v2/"></script>#}

    <script type="text/javascript">
        $(document).ready(function () {
            ProfileEdit.initValidation();
            ProfileEdit.initBackToTab();
            ProfileEdit.initTooltips();
//            ProfileEdit.ititPaymentMethodForm();
        });

//        Stripe.setPublishableKey('pk_test_VuAHI8lkDNJrXCYhRcxAkWbx');
    </script>



{% endblock %}
