{% extends 'MBagrovSSParserCommonCommonBundle:Profile:profile_layout.html.twig' %}
{% trans_default_domain 'common' %}


    {% block profile_contents %}

        <div id="edit-profile-info" class="tab-v1 profile">
            <ul class="nav nav-justified nav-tabs">
                <li class="active"><a data-toggle="tab" href="#profile">{{ 'profile.profile.info.tab'|trans }}</a></li>
                <li><a data-toggle="tab" href="#password">{{ 'profile.profile.cp.tab'|trans }}</a></li>
            </ul>
            <div class="tab-content">
                {% include "MBagrovSSParserCommonCommonBundle:Profile/_partials/edit:info.html.twig" %}
                {% include "MBagrovSSParserCommonCommonBundle:Profile/_partials/edit:change_password.html.twig" %}
            </div>
        </div>


    {% endblock %}
