{% extends 'layout/page.html.twig' %}
{% trans_default_domain 'common' %}

{% block title %}{{ 'seo.title.payment.fail'|trans([], 'messages') }}{% endblock %}

{% block content %}
    <div class="col-md-offset-1 col-md-10">

        <div class="alert alert-danger fade in">
            <h4>{{ 'payment.fail.header'|trans }}</h4>
            <p>{{ 'payment.fail.texts.0'|trans }}</p>
            <p>{{ 'payment.fail.texts.1'|trans }} <a href="{{ path('common.contacts.index') }}">{{ 'payment.fail.texts.2'|trans }}</a> {{ 'payment.fail.texts.3'|trans }}</p>
            <p>{{ 'payment.fail.texts.4'|trans }} <a href="{{ path('common.order.create') }}">{{ 'payment.fail.texts.5'|trans }}</a> {{ 'payment.fail.texts.6'|trans }}</p>
            <p>
                <a class="btn-u btn-u-green" href="{{ path('common.order.create') }}">{{ 'payment.fail.btn.try_again'|trans }}</a>
                <a class="btn-u btn-u-blue" href="{{ path('common.contacts.index') }}">{{ 'payment.fail.btn.contacts'|trans }}</a>
            </p>
        </div>

    </div>
{% endblock %}