{% form_theme form with [
'@MBagrovSSParserCommonCommon/Form/form_errors.html.twig',
'@MBagrovSSParserCommonCommon/Form/email_widget.html.twig',
'@MBagrovSSParserCommonCommon/Form/password_widget.html.twig',
] %}

{% trans_default_domain 'common' %}


{% if isSubmitted and isValid %}
    <div class="col-sm-12 payment-processing-form-wrapper">
        <div class="loader">
            <div class="cube c1"></div>
            <div class="cube c2"></div>
            <div class="cube c4"></div>
            <div class="cube c3"></div>
        </div>
        <div class="textedit text-center margin-top-20">
            <h1>{{ 'payment.form.processing'|trans }}</h1>
        </div>

        <form action="{{ paymentConfig.demo ? paymentConfig.url.demo : paymentConfig.url.live }}" method='post' id="payment-start">
            <input type='hidden' name='sid' value="{{ paymentConfig.demo ? paymentConfig.account_id.demo : paymentConfig.account_id.live }}"/>
            <input type='hidden' name='mode' value='2CO'/>
            <input type='hidden' name='li_0_type' value='product'/>
            <input type='hidden' name='li_0_name' value='SMS and Email notifications'/>
            <input type='hidden' name='li_0_quantity' value='1'/>
            <input type='hidden' name='li_0_price' value='{{ order.amount }}'/>
            <input type='hidden' name='card_holder_name' value='{{ form.cardHolderName.vars.value }}'/>
            <input type='hidden' name='street_address' value='{{ form.streetAddress1.vars.value }}'/>
            <input type='hidden' name='street_address2' value='{{ form.streetAddress2.vars.value }}'/>
            <input type='hidden' name='city' value='{{ form.city.vars.value }}'/>
            <input type='hidden' name='state' value='{{ form.state.vars.value }}'/>
            <input type='hidden' name='zip' value='{{ form.zip.vars.value }}'/>
            <input type='hidden' name='country' value='{{ form.country.vars.value }}'/>
            <input type='hidden' name='merchant_order_id' value='{{ order.uuid }}'/>
            <input type='hidden' name='email' value='{{ app.user.email }}'/>
            <input type='hidden' name='phone' value='{{ app.user.phone }}'/>
        </form>
    </div>

{% else %}
    <div class="col-sm-12 payment-form-wrapper">

        <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
            {{ form_errors(form) }}
        </div>

        <div class="col-sm-12">

            <form method="POST" action="{{ path('common.order.payment.start', {'id': order.uuid}) }}"
                  class="sky-form payment-form">

                {{ form_widget(form._token) }}
                <fieldset>
                    <section>
                        <div class="col-sm-12">
                            <label class="input{% if form_errors(form.cardHolderName)|trim|length %} state-error{% endif %}">
                                {{ 'payment.form.ch.label'|trans }}
                                {{ form_widget(form.cardHolderName, { 'attr': {'class': 'form-control', 'placeholder': 'payment.form.ch.placeholder'|trans} }) }}
                            </label>
                            {{ form_errors(form.cardHolderName) }}
                        </div>
                    </section>
                    <section>
                        <div class="col-sm-6">
                            <label class="input{% if form_errors(form.country)|trim|length %} state-error{% endif %}">
                                {{ 'payment.form.country.label'|trans }}
                                {{ form_widget(form.country, { 'attr': {'class': 'form-control', 'placeholder': 'payment.form.country.placeholder'|trans} }) }}
                            </label>
                            {{ form_errors(form.country) }}
                        </div>
                        <div class="col-sm-6">
                            <label class="input{% if form_errors(form.city)|trim|length %} state-error{% endif %}">
                                {{ 'payment.form.city.label'|trans }}
                                {{ form_widget(form.city, { 'attr': {'class': 'form-control', 'placeholder': 'payment.form.city.placeholder'|trans} }) }}
                            </label>
                            {{ form_errors(form.city) }}
                        </div>
                    </section>
                    <section>
                        <div class="col-sm-8">
                            <label class="input{% if form_errors(form.streetAddress1)|trim|length %} state-error{% endif %}">
                                {{ 'payment.form.address.label'|trans }}
                                {{ form_widget(form.streetAddress1, { 'attr': {'class': 'form-control', 'placeholder': 'payment.form.address.placeholder'|trans} }) }}
                            </label>
                            {{ form_errors(form.streetAddress1) }}
                        </div>
                        <div class="col-sm-4">
                            <label class="input{% if form_errors(form.streetAddress2)|trim|length %} state-error{% endif %}">
                                &nbsp;
                                {{ form_widget(form.streetAddress2, { 'attr': {'class': 'form-control', 'placeholder': 'payment.form.ap_number.placeholder'|trans } }) }}
                            </label>
                            {{ form_errors(form.streetAddress2) }}
                        </div>
                    </section>
                    <section>
                        <div class="col-sm-5">
                            <label class="input{% if form_errors(form.zip)|trim|length %} state-error{% endif %}">
                                {{ 'payment.form.zip.label'|trans }}
                                {{ form_widget(form.zip, { 'attr': {'class': 'form-control', 'placeholder': 'payment.form.zip.placeholder'|trans }}) }}
                            </label>
                            {{ form_errors(form.zip) }}
                        </div>
                        <div class="col-sm-7">
                            <label class="input{% if form_errors(form.state)|trim|length %} state-error{% endif %}">
                                {{ 'payment.form.state.label'|trans }}
                                {{ form_widget(form.state, { 'attr': {'class': 'form-control', 'placeholder': 'payment.form.state.placeholder'|trans} }) }}
                            </label>
                            {{ form_errors(form.state) }}
                        </div>
                    </section>
                </fieldset>

                <footer class="text-center">
                    <button type="submit" class="btn-u">{{ 'payment.form.submit'|trans }}</button>
                </footer>

            </form>

        </div>

    </div>
{% endif %}