{% extends 'layout/page.html.twig' %}
{% trans_default_domain 'common' %}

{% block title %}{{ 'seo.title.payment.success'|trans([], 'messages') }}{% endblock %}

{% block content %}
    <div class="col-md-offset-1 col-md-10">
        <div class="tag-box tag-box-v2 margin-bottom-40">
            <h4>{{ 'payment.success.header'|trans }}</h4>

            <p>{{ 'payment.success.texts.0'|trans({'%smsCount%': order.smsCount, '%emailCount%': order.emailCount}) }}</p>

            <p>{{ 'payment.success.texts.1'|trans }} <a href="{{ path('flat_estate.search.index') }}">{{ 'payment.success.texts.2'|trans }}</a> {{ 'payment.success.texts.3'|trans }}</p>

            <br>

            <p>
                <a class="btn-u btn-u-green"
                   href="{{ path('flat_estate.search.index') }}">{{ 'payment.success.btn.to_searches'|trans }}</a>
                <a class="btn-u btn-u-blue"
                   href="{{ path('fos_user_profile_show') }}">{{ 'payment.success.btn.to_profile'|trans }}</a>
            </p>
        </div>
    </div>
{% endblock %}