{% trans_default_domain 'flat_estate' %}
<tr>
    <td>{{ ad.createdAtProvider|date('d.m.Y G:i:s') }}</td>
    <td>{% include '@MBagrovSSParserEstateFlatEstate/Ad/_partials/price.html.twig' with {price: ad.price, type: ad.priceType} %}</td>
    <td>
        {% if not ad.isInactive() %}
        <a target="_blank" href="{{ path('flat_estate.ad.show', {id: ad.uuid}) }}">{{ 'history.list.table.view'|trans }}</a>
        {% else %}
            <div class="inactive_link_wrapper">
                {% include '@MBagrovSSParserEstateFlatEstate/Ad/_partials/inactive_tooltip.html.twig' %}
                <span>{{ 'history.list.table.inactive'|trans }}</span>
            </div>
        {% endif %}
    </td>
</tr>