{% trans_default_domain 'flat_estate' %}
{% if ads is defined and ads|length %}
    <table class = "display table table-striped table-hover" cellspacing = "0" width = "100%">
        <thead>
        <tr>
            <th>{{ 'history.list.table.header.1'|trans }}</th>
            <th>{{ 'history.list.table.header.2'|trans }}</th>
            <th>{{ 'history.list.table.header.3'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for ad in ads %}
            {% include '@MBagrovSSParserEstateFlatEstate/History/_partials/ad_row.html.twig' with {ad: ad} %}
        {% endfor %}
        </tbody>
    </table>
{% endif %}