{% if ads is defined and ads|length %}
    <div class = "row">
        <div class = "col-sm-12">
            {% embed '@MBagrovSSParserEstateFlatEstate/_partials/panel/panel.html.twig' %}
                {% trans_default_domain 'flat_estate' %}
                {% block panel_title %}
                    <i class = "fa fa-clock-o"></i> {{ 'history.list.panel_header'|trans }}
                {% endblock %}
                {% block panel_body_class %}table-responsive{% endblock %}
                {% block panel_body %}
                    {% include '@MBagrovSSParserEstateFlatEstate/History/_partials/ads.html.twig' with {ads: ads} %}
                {% endblock %}
            {% endembed %}
        </div>
    </div>
{% endif %}