<div class="modal fade" id="modal-{{ id }}" tabindex="-1" role="dialog" aria-labelledby="{{ label }}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h4 class="modal-title">
                    {% block modal_heading %}
                    {% endblock %}
                </h4>
            </div>
            <div class="modal-body">
                {% block modal_body %}
                {% endblock %}
            </div>
            <div class="modal-footer">
                {% block modal_footer %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>
