<tr>
    <td>{% include 'MBagrovSSParserCommonCommonBundle:Order/_partials:status_icon.html.twig' %}</td>
    <td>{% include 'MBagrovSSParserCommonCommonBundle:Order/_partials:uuid.html.twig' %}</td>
    <td>{% include 'MBagrovSSParserCommonCommonBundle:Order/_partials:sms_count.html.twig' %}</td>
    <td>{% include 'MBagrovSSParserCommonCommonBundle:Order/_partials:email_count.html.twig' %}</td>
    <td>{% include 'MBagrovSSParserCommonCommonBundle:Order/_partials:per_sms.html.twig' %}</td>
    <td>{% include 'MBagrovSSParserCommonCommonBundle:Order/_partials:per_email.html.twig' %}</td>
    <td>{% include 'MBagrovSSParserCommonCommonBundle:Order/_partials:amount.html.twig' %}</td>
</tr>