<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block meta %}{% endblock %}
    <link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin'>
    <link href="{{ asset('/css/app.min.css') }}" rel="stylesheet">
    <link href="{{ asset('/css/lte.min.css') }}" rel="stylesheet">
    <title>{% block title %}{{ 'seo.title.welcome'|trans }}{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body class="header-fixed {#boxed-layout#} container" id="body" data-spy="scroll" data-target=".header-sticky" data-offset="80">
<div id="fb-root"></div>
<script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.5";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-TKHWWG"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-TKHWWG');</script>
<!-- End Google Tag Manager -->
<!-- Yandex.Metrika counter --> <script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter40425845 = new Ya.Metrika({ id:40425845, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/40425845" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter --><!-- /Yandex.Metrika counter -->
{% block body %}
{% endblock %}

<script type="text/javascript" src="{{ asset('/js/app-lte.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('/js/app.min.js') }}"></script>
{#<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>#}
{#<script src="{{ asset('/js/fos_js_routes.js') }}"></script>#}
<script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>

<script type="text/javascript">
    $(document).ready(function () {
        App.init();
//        $.backstretch([
//            "/../img/bg/2.jpg"
//        ]);
    });
</script>

{% block javascripts %}
{% endblock %}

{#<script type="text/javascript" src="//userlike-cdn-widgets.s3-eu-west-1.amazonaws.com/cf01340a07ecb6b2b6874176d99482baa872d644384c6df97b60482dd8c808e2.js"></script>#}

</body>
</html>
