<div id="footer-v2" class="footer-v2">

    <div class="copyright">
        <div class="container">
            <p class="text-center">2016 &copy; All Rights Reserved.</p>

            <div class="fb-like" data-href="https://www.facebook.com/addslv/" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>

            <ul class="social-icons">
                <li><a href="https://www.facebook.com/addslv/" target="_blank" data-original-title="Facebook" class="rounded-x social_facebook"></a></li>
            </ul>
        </div>
    </div>
</div>