<div class="header header-sticky">
    <div class="container">
        <a class="logo" href="{{ path('index') }}">
            <img src="{{ asset('img/logo-small.png') }}" alt="Logo">
        </a>
        {% block topbar %}
            <div class="topbar">
                <ul class="loginbar pull-right">
                    <li class="hoverSelector">
                        <i class="fa fa-globe"></i>
                        <a>{{ 'header.languages'|trans }}</a>
                        <ul class="languages hoverSelectorBlock">
                            {% for short, long in available_locales %}
                                {% if app.request.locale == short %}
                                    <li class="active">
                                        <a href="{{ path('locale_change', {'locale': short}) }}">{{ long }} <i class="fa fa-check"></i></a>
                                    </li>
                                {% else %}
                                    <li><a href="{{ path('locale_change', {'locale': short}) }}">{{ long }}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                    <li class="topbar-devider"></li>
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <li class="hoverSelector">
                            <a>{{ 'header.account.my'|trans }}</a>
                            <ul class="languages hoverSelectorBlock">
                                <li>
                                    <a href="{{ path('fos_user_profile_show') }}">{{ 'header.account.profile'|trans }}</a>
                                </li>
                                <li>
                                    <a href="{{ path('fos_user_security_logout') }}">{{ 'header.account.logout'|trans }}</a>
                                </li>
                            </ul>
                        </li>
                    {% else %}
                        <li>
                            <a href="{{ path('fos_user_security_login') }}">{{ 'header.account.login'|trans }}</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        {% endblock %}

        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="sr-only">{{ 'header.navigation.toggle'|trans }}</span>
            <span class="fa fa-bars"></span>
        </button>
    </div>
    {% include ':layout/nav:top.html.twig' %}
</div>