{% extends 'layout/base.html.twig' %}

{% block body %}

    <div class="wrapper">

        {% include 'layout/header.html.twig' %}

        {% block breadcumb %}
            {#<div class="breadcrumbs">#}
            {#<div class="container">#}
            {#<h1 class="pull-left">#}
            {#</h1>#}
            {#</div>#}
            {#</div>#}
        {% endblock %}
        <div class="content">
            <div class="container content">
                <div class="row">
                    {% block alert_block %}
                        {% if app.session.flashBag.all|length %}
                            <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
                                {% for type, messages in app.session.flashBag.all %}
                                    {% for message in messages %}
                                        <div class="alert alert-{{ type }} fade in alert-dismissable">
                                            <button type="button" class="close" data-dismiss="alert"
                                                    aria-hidden="true">&times;</button>
                                            {{ message|trans({}) }}
                                        </div>
                                    {% endfor %}
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endblock %}


                    {% block content %}


                    {% endblock %}
                </div>
            </div>
        </div>

        {% include 'layout/footer.html.twig' %}

    </div>


{% endblock %}