{% extends 'MBagrovSSParserCommonCommonBundle:Profile:profile_layout.html.twig' %}
{% trans_default_domain 'common' %}
{% block profile_contents %}

    {% if orders is defined and orders|length %}
        <div class="loader">
            <div class="cube c1"></div>
            <div class="cube c2"></div>
            <div class="cube c4"></div>
            <div class="cube c3"></div>
        </div>

        <div class="datatable_block">
            {% embed '@MBagrovSSParserEstateFlatEstate/_partials/panel/panel.html.twig' %}
                {% trans_default_domain 'common' %}
                {% block panel_title %}
                    <i class="fa fa-list-ul"></i> {{ 'order.list.header'|trans }}
                {% endblock %}
                {% block panel_body_class %}table-responsive{% endblock %}
                {% block panel_body %}
                    <table class="display table table-striped table-hover orders-table"
                           cellspacing="0"
                           width="100%">
                        <thead>
                        <tr>
                            <th></th>
                            <th class="not-collapsable -big">{{ 'order.table.header.id'|trans }}</th>
                            <th>{{ 'order.table.header.sms_count'|trans }}</th>
                            <th>{{ 'order.table.header.email_count'|trans }}</th>
                            <th class="not-collapsable -small">{{ 'order.table.header.pp_sms'|trans }}</th>
                            <th class="not-collapsable -small">{{ 'order.table.header.pp_email'|trans }}</th>
                            <th>{{ 'order.table.header.ttl'|trans }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for order in orders %}
                            {% include 'MBagrovSSParserCommonCommonBundle:Order/_partials/list:row.html.twig' with {order: order.object, explainedPrice: order.explainedPrice} %}
                        {% endfor %}
                        </tbody>
                    </table>
                {% endblock %}
            {% endembed %}
        </div>
    {% else %}

        <div class="tag-box tag-box-v2 margin-bottom-40">
            <h4><i class="fa fa-warning"></i>{{ 'order.list.no_orders.header'|trans }}</h4>

            <p>{{ 'order.list.no_orders.advice'|trans }}</p>
            <br>

            <p>
                <a class="btn-u btn-u-blue"
                   href="{{ path('common.order.create') }}">{{ 'order.list.no_orders.btn'|trans }}</a>
            </p>
        </div>

    {% endif %}

{% endblock %}