{% extends 'MBagrovSSParserCommonCommonBundle:Profile:profile_layout.html.twig' %}
    {% form_theme form with [
    '@MBagrovSSParserCommonCommon/Form/form_errors.html.twig',
    '@MBagrovSSParserCommonCommon/Form/integer_widget.html.twig',
    ] %}
{% trans_default_domain 'common' %}
{% block profile_contents %}
    <div class="headline">
        <h2>{{ 'order.create.header'|trans }}</h2>
    </div>

    <div class="tag-box tag-box-v2 margin-bottom-40">
        <p>
            {{ 'order.create.descr.part_one'|trans }}<br>{{ 'order.create.descr.part_two'|trans }}
        </p>
    </div>

    <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
        {{ form_errors(form) }}
    </div>
    <div class="col-sm-12">
        <div class="row">
            <form method="POST" action="{{ path('common.order.create') }}" class="sky-form order-form">
                {{ form_widget(form._token) }}
                <div class="col-sm-7">
                    <fieldset>
                        <div class="row">
                            <section>
                                <label class="label col col-3">{{ 'order.create.type.sms'|trans }}</label>


                                <div class="col col-9 label-rounded">
                                    <label class="label rounded-x"></label>

                                    <div id="sms_notifications-slider"></div>
                                    {{ form_widget(form.smsCount, { 'attr': {'class': 'hidden'} }) }}
                                    {{ form_errors(form.smsCount) }}
                                </div>

                            </section>

                            <section>
                                <label class="label col col-3">{{ 'order.create.type.email'|trans }}</label>


                                <div class="col col-9 label-rounded">
                                    <label class="label rounded-x"></label>

                                    <div id="email_notifications-slider"></div>
                                    {{ form_widget(form.emailCount, { 'attr': {'class': 'hidden'} }) }}
                                    {{ form_errors(form.emailCount) }}
                                </div>

                            </section>
                        </div>
                        <div class="row">

                        </div>
                    </fieldset>
                </div>


                <div class="col-sm-5">
                    <table id="prices-calculator" class="table"
                           data-sms-start_price="{{ prices.sms.price.start }}"
                           data-sms-min_price="{{ prices.sms.price.min }}"
                           data-sms-step_value="{{ prices.sms.step.value }}"
                           data-sms-step_count="{{ prices.sms.step.count }}"
                           data-email-start_price="{{ prices.email.price.start }}"
                           data-email-min_price="{{ prices.email.price.min }}"
                           data-email-step_value="{{ prices.email.step.value }}"
                           data-email-step_count="{{ prices.email.step.count }}"
                    >
                        <thead>
                        <tr>
                            <th>{{ 'order.create.table.header.type'|trans }}</th>
                            <th>{{ 'order.create.table.header.count'|trans }}</th>
                            <th>{{ 'order.create.table.header.per_one'|trans }}</th>
                            <th>{{ 'order.create.table.header.price_total'|trans }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{ 'order.create.type.sms'|trans }}</td>
                            <td id="smsCount"></td>
                            <td id="smsPerOne">0.20</td>
                            <td id="smsTotalCost">0</td>
                        </tr>
                        <tr>
                            <td>{{ 'order.create.type.email'|trans }}</td>
                            <td id="emailCount">0</td>
                            <td id="emailPerOne">0.07</td>
                            <td id="emailTotalCost">0</td>
                        </tr>
                        <tr>
                            <td>{{ 'order.create.table.total'|trans }}</td>
                            <td id="totalCount">0</td>
                            <td></td>
                            <td id="totalCost">0</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <footer>
                    <div class="row">
                        <div class="col-sm-4 col-sm-offset-4 text-center">
                            <button type="submit" class="btn btn-u btn-u-blue">{{ 'order.create.btn'|trans }}</button>
                        </div>
                    </div>
                </footer>
            </form>
        </div>
    </div>

{% endblock %}