{% extends 'layout/page.html.twig' %}
{% trans_default_domain 'common' %}

{% block title %}{{ 'seo.title.payment.start'|trans([], 'messages') }}{% endblock %}

{% block content %}
    <div class="col-sm-8 col-sm-offset-2">
        <div class="order-info-wrapper">
            <div class="tag-box tag-box-v1 margin-bottom-40">

                <div class="headline"><h2>{{ 'order.pm_start.header'|trans }}</h2></div>
                <p>
                    {{ 'order.pm_start.descr.part_one'|trans }}
                </p>
                {% if not isSubmitted %}
                    <p>
                        {{ 'order.pm_start.descr.part_two'|trans }}
                    </p>
                {% endif %}
            </div>

            <div class="row">
                <table class="table table-hover orders-table">
                    <thead>
                    <tr>
                        <th>{{ 'order.table.header.descr'|trans }}</th>
                        <th>{{ 'order.table.header.sms_count'|trans }}</th>
                        <th>{{ 'order.table.header.email_count'|trans }}</th>
                        <th>{{ 'order.table.header.pp_sms'|trans }}</th>
                        <th>{{ 'order.table.header.pp_email'|trans }}</th>
                        <th>{{ 'order.table.header.ttl'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% include 'MBagrovSSParserCommonCommonBundle:Order/_partials/prepayment:row.html.twig' with {order: order} %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            {% include 'MBagrovSSParserCommonCommonBundle:Payment:form.html.twig' with {form: paymentForm, order: order, isSubmitted: isSubmitted, isValid: isValid} %}
        </div>

        <div class="col-sm-4 col-sm-offset-4 text-center payment-begin-wrapper">
            <button type="button" class="btn btn-u btn-u-blue payment-begin">{{ 'order.pm_start.btn'|trans }}</button>
        </div>
    </div>
{% endblock %}
{% block javascripts %}

    <script type="text/javascript" src="{{ asset('js/locale/' ~ app.request.locale ~ '/reg.validation.js') }}"></script>
    <script src="https://www.2checkout.com/static/checkout/javascript/direct.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            OrderTable.initTooltips();
            OrderTable.initFormExpandListen();
            OrderTable.initPageState({{ isSubmitted }}, {{ isValid }});
            OrderTable.initValidation();
        });
    </script>


{% endblock %}