{% trans_default_domain 'flat_estate' %}
{% if objects and objects|length %}
    <select name="search[objects][]" multiple>
        {% for object in objects %}
            <option value="{{ object.object.getId }}" {% if object.selected %}selected{% endif %}>{{ object.object.getTransConst|trans }}</option>
        {% endfor %}
    </select>
{% endif %}