<div class="panel panel-blue">
    <div class="panel-heading">
        <h3 class="panel-title">
            {% block panel_title %}{% endblock %}
        </h3>
    </div>
    <div class="panel-body {% block panel_body_class %}{% endblock %}">
        {% block panel_body %}{% endblock %}
    </div>
</div>