{% trans_default_domain 'flat_estate' %}
<i class = "fa fa-question-circle"
   data-toggle = "tooltip" data-placement = "top" title = ""
   data-html = "true"
   data-original-title = "<p>{{ 'ad.inactive.description.1'|trans }}</p><p>{{ 'ad.inactive.description.2'|trans }}</p>">
</i>