{% trans_default_domain 'flat_estate' %}
{% spaceless %}
    {{- price -}}
    {{- ' ' -}}
    {% spaceless %}
        {% if type is defined %}
            {% if type == 0 %}
                {{ 'ad.list.price.per_day'|trans }}
            {% elseif type == 1 %}
                {{ 'ad.list.price.per_month'|trans }}
            {% elseif type == 2 %}
                {{ 'ad.list.price.total'|trans }}
            {% endif %}
        {% endif %}
    {% endspaceless %}
{% endspaceless %}