{% trans_default_domain 'flat_estate' %}
{% spaceless %}
{% if type == -1 %}
    {{ 'ad.list.type.all'|trans }}
{% elseif type == 0 %}
    {{ 'ad.list.type.rent'|trans }}
{% else %}
    {{ 'ad.list.type.sell'|trans }}
{% endif %}
{% endspaceless %}