{% embed '@MBagrovSSParserEstateFlatEstate/_partials/panel/panel.html.twig' %}
    {% form_theme form with [
    '@MBagrovSSParserCommonCommon/Form/form_errors.html.twig',
    '@MBagrovSSParserCommonCommon/Form/integer_widget.html.twig',
    '@MBagrovSSParserCommonCommon/Form/choice_widget_collapsed.html.twig',
    '@MBagrovSSParserEstateFlatEstate/Form/choice_widget_options.html.twig',
    ] %}

    {% trans_default_domain 'flat_estate' %}

    {% block panel_title %}
        <i class="fa fa-building-o"></i>
        {{ 'search.create.building.header'|trans }}
    {% endblock %}
    {% block panel_body %}
        <section class="floor-selector-block">
            <div class="row">
                <label class="label col col-3">{{ 'search.create.building.floors_count'|trans }}</label>

                <div class="col col-9 label-rounded">
                    <label class="label rounded-x"><span id="floors_min">1</span> - <span
                                id="floors_max">25</span></label>

                    <div id="floor-selector-slider"></div>
                    {{ form_widget(form.floorMin, { 'attr': {'class': 'hidden'} }) }}
                    {{ form_errors(form.floorMin) }}
                    {{ form_widget(form.floorMax, { 'attr': {'class': 'hidden'} }) }}
                    {{ form_errors(form.floorMax) }}
                </div>
            </div>
        </section>

        <section class="series-selector-block">
            <div class="row">
                <label class="label col col-3">{{ 'search.create.building.series'|trans }}</label>
                <div class="col col-9">
                    {{ form_widget(form.estateTypes) }}
                    {{ form_errors(form.estateTypes) }}
                </div>
            </div>
        </section>
    {% endblock %}
{% endembed %}
