{% embed '@MBagrovSSParserEstateFlatEstate/_partials/panel/panel.html.twig' %}
    {% form_theme form with [
    '@MBagrovSSParserCommonCommon/Form/form_errors.html.twig',
    '@MBagrovSSParserCommonCommon/Form/integer_widget.html.twig',
    '@MBagrovSSParserCommonCommon/Form/choice_widget_collapsed.html.twig',
    ] %}

    {% trans_default_domain 'flat_estate' %}

    {% block panel_title %}
        <i class="fa fa-hotel"></i>
        {{ 'search.create.flat_config.header'|trans }}
    {% endblock %}

    {% block panel_body %}
        <section class="rooms-selector-block">
            <div class="row">
                <label class="label col col-3">{{ 'search.create.flat_config.rooms'|trans }}</label>

                <div class="col col-9 label-rounded">
                    <label class="label rounded-x"><span id="rooms_min">1</span> - <span
                                id="rooms_max">25</span></label>

                    <div id="rooms-selector-slider"></div>
                    {{ form_widget(form.roomsMin, { 'attr': {'class': 'hidden'} }) }}
                    {{ form_errors(form.roomsMin) }}
                    {{ form_widget(form.roomsMax, { 'attr': {'class': 'hidden'} }) }}
                    {{ form_errors(form.roomsMax) }}
                </div>
            </div>
        </section>
        <section class="area-selector-block">
            <div class="row">
                <label class="label col col-3">{{ 'search.create.flat_config.area'|trans }}</label>

                <div class="col col-9 label-rounded">
                    <label class="label rounded-x"><span id="area_min">1</span> - <span
                                id="area_max">25</span> {{ 'search.create.flat_config.sign'|trans }}<sup>2</sup></label>

                    <div id="area-selector-slider"></div>
                    {{ form_widget(form.areaMin, { 'attr': {'class': 'hidden'} }) }}
                    {{ form_errors(form.areaMin) }}
                    {{ form_widget(form.areaMax, { 'attr': {'class': 'hidden'} }) }}
                    {{ form_errors(form.areaMax) }}
                </div>
            </div>
        </section>
    {% endblock %}

{% endembed %}