{% embed '@MBagrovSSParserEstateFlatEstate/_partials/panel/panel.html.twig' %}

    {% trans_default_domain 'flat_estate' %}

    {% form_theme form with [
    '@MBagrovSSParserCommonCommon/Form/form_errors.html.twig',
    '@MBagrovSSParserCommonCommon/Form/choice_widget_collapsed.html.twig',
    '@MBagrovSSParserEstateFlatEstate/Form/choice_widget_options.html.twig',
    ] %}

    {% block panel_title %}
        <i class="fa fa-map-o"></i>
        {{ 'search.create.location.header'|trans }}
    {% endblock %}

    {% block panel_body %}
        <section class="city-selector-block">
            <div class="row">
                <label class="label col col-3">{{ 'search.create.location.city'|trans }}</label>
                <div class="col col-9">
                    {{ form_widget(form.city) }}
                    {{ form_errors(form.city) }}
                </div>
            </div>
        </section>
        <section class="district-selector-block hidden">
            <div class="row">
                <label class="label col col-3">{{ 'search.create.location.district'|trans }}</label>
                <div class="col col-9 input">
                    {{ form_widget(form.objects) }}
                    {{ form_errors(form.objects) }}
                </div>
            </div>
        </section>
    {% endblock %}

{% endembed %}