{% embed '@MBagrovSSParserEstateFlatEstate/_partials/panel/panel.html.twig' %}
    {% form_theme form with [
    '@MBagrovSSParserCommonCommon/Form/form_errors.html.twig',
    '@MBagrovSSParserCommonCommon/Form/checkbox_widget.html.twig',
    ] %}

    {% trans_default_domain 'flat_estate' %}

    {% block panel_title %}
        <i class="fa fa-commenting-o"></i>
        {{ 'search.create.notifications.header'|trans }}
    {% endblock %}

    {% block panel_body %}
        <section>
            <div class="row">
                <label class="label col col-3">{{ 'search.create.notifications.sms'|trans }}</label>
                <div class="col col-9 inline-group">
                    <label class="toggle">
                        {{ form_widget(form.isSms) }}
                        <i class="no-rounded"></i>
                    </label>
                </div>
            </div>
            <div class="row">
                <label class="label col col-3">{{ 'search.create.notifications.email'|trans }}</label>
                <div class="col col-9 inline-group">
                    <label class="toggle">
                        {{ form_widget(form.isEmail) }}
                        <i class="no-rounded"></i>
                    </label>
                </div>
            </div>
        </section>

    {% endblock %}

{% endembed %}