{% embed '@MBagrovSSParserEstateFlatEstate/_partials/panel/panel.html.twig' %}
    {% form_theme form with [
    '@MBagrovSSParserCommonCommon/Form/form_errors.html.twig',
    '@MBagrovSSParserCommonCommon/Form/choice_widget_expanded.html.twig',
    '@MBagrovSSParserCommonCommon/Form/integer_widget.html.twig',
    ] %}

    {% trans_default_domain 'flat_estate' %}

    {% block panel_title %}
        <i class="fa fa-eur"></i>
        {{ 'search.create.type_price.header'|trans }}
    {% endblock %}

    {% block panel_body %}
        <section>
            <div class="row">
                    <label class="label col col-3">{{ 'search.create.type_price.status.label'|trans }}</label>
                    <div class="col col-9 inline-group">
                        <label class="toggle">
                            {{ form_widget(form.status) }}
                            <i class="no-rounded"></i>
                        </label>
                    </div>
            </div>
        </section>
        <section>
            <div class="row">
                <label class="label col col-3">{{ 'search.create.type_price.type.label'|trans }}</label>

                <div class="col col-9 inline-group">
                    {{ form_widget(form.type) }}
                </div>
            </div>
        </section>
        <section>
            <div class="row">
                <label class="label col col-3">{{ 'search.create.type_price.price.label'|trans }}</label>

                <div class="col col-9 inline-group">
                    <div class="row">
                        <div class="col col-6">
                            {{ form_widget(form.priceMin) }}
                            {{ form_errors(form.priceMin) }}
                        </div>
                        <div class="col col-6">
                            {{ form_widget(form.priceMax) }}
                            {{ form_errors(form.priceMax) }}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endblock %}

{% endembed %}