{% extends ':layout:page.html.twig' %}

{% trans_default_domain 'flat_estate' %}

{% block title %}{{ 'seo.title.search.created'|trans({CITY: search.city.object.transConst|trans}, 'messages') }}{% endblock %}

{% block content %}

    <div class="col-md-offset-1 col-md-10">
        <div class="tag-box tag-box-v2 margin-bottom-40">
            <h4>{{ 'search.created.header'|trans }}</h4>

            <p>{{ 'search.created.text.1'|trans }} {{ 'search.call_to_action.text.1'|trans }} <a
                        href="{{ path('flat_estate.search.show', {id: search.uuid}) }}">{{ 'search.call_to_action.text.2'|trans }}
                    .</a></p><br>

            {% include '@MBagrovSSParserEstateFlatEstate/Search/_partials/call_to_action/buy_notifications.html.twig' %}
        </div>
    </div>

{% endblock %}
{% block javascripts %}

    <script type="text/javascript">

        $(document).ready(function () {
            SearchesList.initToggleNotifications();
        });

    </script>

{% endblock %}
