{% extends ':layout:page.html.twig' %}
{% trans_default_domain 'flat_estate' %}

{% block title %}{{ 'seo.title.search.list'|trans({}, 'messages') }}{% endblock %}

{% block content %}
    <div class="col-md-offset-1 col-md-10 flat_estate_searches_area">
        {% if areSearches %}
            <div class="loader">
                <div class="cube c1"></div>
                <div class="cube c2"></div>
                <div class="cube c4"></div>
                <div class="cube c3"></div>
            </div>
            <div class="datatable_block">
                {% embed '@MBagrovSSParserEstateFlatEstate/_partials/panel/panel.html.twig' %}
                    {% trans_default_domain 'flat_estate' %}
                    {% block panel_title %}
                        <i class="fa fa-search"></i> {{ 'search.list.panel_header'|trans }}
                    {% endblock %}
                    {% block panel_body_class %}table-responsive{% endblock %}
                    {% block panel_body %}
                        <table id="searches_list" class="display table table-striped table-hover table-condensed cf"
                               cellspacing="0"
                               width="100%">
                            <thead>
                            <tr>
                                <th></th>
                                <th>{{ 'search.list.table_header.ads'|trans }}</th>
                                <th>{{ 'search.list.table_header.type'|trans }}</th>
                                <th>{{ 'search.list.table_header.city'|trans }}</th>
                                <th>{{ 'search.list.table_header.districts'|trans }}</th>
                                <th>{{ 'search.list.table_header.series'|trans }}</th>
                                <th>{{ 'search.list.table_header.floors'|trans }}</th>
                                <th>{{ 'search.list.table_header.rooms'|trans }}</th>
                                <th>{{ 'search.list.table_header.area'|trans }}<sup>2</sup></th>
                                <th>{{ 'search.list.table_header.price'|trans }}</th>
                                <th></th>
                            </tr>
                            </thead>
                        </table>
                    {% endblock %}
                {% endembed %}
                <p>
                    <a class="btn-u btn-u-blue"
                       href="{{ path('flat_estate.search.new') }}">{{ 'search.list.no_search.btn'|trans }}</a>
                </p>
            </div>
        {% else %}

            <div class="tag-box tag-box-v2 margin-bottom-40">
                <h4><i class="fa fa-warning"></i>{{ 'search.list.no_search.header'|trans }}</h4>

                <p>{{ 'search.list.no_search.advice'|trans }}</p>
                <br>
                <p>
                    <a class="btn-u btn-u-blue"
                       href="{{ path('flat_estate.search.new') }}">{{ 'search.list.no_search.btn'|trans }}</a>
                </p>
            </div>

        {% endif %}
    </div>

{% endblock %}
{% block javascripts %}

    <script type="text/javascript">

        $(document).ready(function () {
            SearchesList.initDataTable();
        });

    </script>

{% endblock %}


