{% extends ':layout:page.html.twig' %}

    {% form_theme form with [
    '@MBagrovSSParserCommonCommon/Form/form_errors.html.twig',
    ] %}

    {% trans_default_domain 'flat_estate' %}

{% block title %}{{ 'seo.title.search.new'|trans([], 'messages') }}{% endblock %}

{% block content %}

    <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
        {{ form_errors(form) }}
    </div>
    <div class="col-sm-12">
        <form action="{{ path("flat_estate.search.new") }}" method="POST"
              class="sky-form flat_estate_create_new_search">
            {{ form_widget(form._token) }}
            <fieldset>
                <div class="row">
                    <div class="col-sm-6">

                        {% include '@MBagrovSSParserEstateFlatEstate/Search/_partials/form/type_price.html.twig' %}

                        {% include '@MBagrovSSParserEstateFlatEstate/Search/_partials/form/location.html.twig' %}

                        {% include '@MBagrovSSParserEstateFlatEstate/Search/_partials/form/notifications.html.twig' %}

                    </div>
                    <div class="col-sm-6">

                        {% include '@MBagrovSSParserEstateFlatEstate/Search/_partials/form/flat_config.html.twig' %}

                        {% include '@MBagrovSSParserEstateFlatEstate/Search/_partials/form/building.html.twig' %}

                    </div>
                </div>
            </fieldset>
            <footer>
                <div class="row">
                    <div class="col-sm-4 col-sm-offset-4 text-center">
                        <button type="submit"
                                class="btn btn-u btn-u-blue">{{ 'search.create.btn'|trans }}</button>
                    </div>
                </div>
            </footer>
        </form>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript"
            src="{{ asset('js/locale/' ~ app.request.locale ~ '/search.create.validation.js') }}"></script>


    <script type="text/javascript">

        $(document).ready(function () {
//        CreateFlatSearch.initTooltips();
            CreateFlatSearch.initSelect2();
            CreateFlatSearch.initSliders();
            CreateFlatSearch.initValidation();
        });

    </script>


{% endblock %}