{% extends ':layout:page.html.twig' %}
    {% trans_default_domain 'flat_estate' %}

{% block title %}{{ 'seo.title.search.show'|trans({CITY: search.city.object.transConst|trans}, 'messages') }}{% endblock %}


{% block stylesheets %}
    <link href="{{ asset('/css/leaflet.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    {% if count %}
        <div class="loader">
            <div class="cube c1"></div>
            <div class="cube c2"></div>
            <div class="cube c4"></div>
            <div class="cube c3"></div>
        </div>


        <div class="row">
            <div class="col-md-12">
                {% include '@MBagrovSSParserEstateFlatEstate/Ad/map.html.twig' %}
            </div>

            <div class="col-md-12 search_ads_block">
                {% include '@MBagrovSSParserEstateFlatEstate/Ad/list.html.twig' %}
                <a class="btn-u btn-u-blue"
                   href="{{ path('flat_estate.search.index') }}">{{ 'ad.list.back_btn'|trans }}</a>
                <a class="btn-u btn-u-blue"
                   href="{{ path('flat_estate.search.edit', {id: search.uuid}) }}">{{ 'search.list.actions.edit'|trans }}</a>
            </div>
        </div>
        {% include '@MBagrovSSParserEstateFlatEstate/Ad/modal.html.twig' with {id: 'ad_info', label: 'Ad info'} %}

    {% else %}

        <div class="col-md-offset-1 col-md-10">
            <div class="tag-box tag-box-v2 margin-bottom-40">
                <h4><i class="fa fa-warning"></i>{{ 'ad.list.no_ads.header'|trans }}</h4>

                <p>{{ 'ad.list.no_ads.advice'|trans }}</p>
                <br>

                <p>
                    <a class="btn-u btn-u-blue"
                       href="{{ path('flat_estate.search.index') }}">{{ 'ad.list.back_btn'|trans }}</a>
                    <a class="btn-u btn-u-blue"
                       href="{{ path('flat_estate.search.edit', {id: search.uuid}) }}">{{ 'search.list.actions.edit'|trans }}</a>
                </p>
            </div>
        </div>
    {% endif %}
{% endblock %}
{% block javascripts %}

    <script type="text/javascript" src="{{ asset('/js/leaflet.js') }}"></script>
    <script type="text/javascript"
            src="{{ asset('js/locale/' ~ app.request.locale ~ '/TranslationMessages.js') }}"></script>


    <script type="text/javascript">

        $(document).ready(function () {
            AdsList.initMap();
            AdsList.initDataTable();
        });

    </script>

{% endblock %}