{% embed '@MBagrovSSParserEstateFlatEstate/_partials/panel/panel.html.twig' %}
    {% trans_default_domain 'flat_estate' %}
    {% block panel_title %}
        <i class="fa fa-list"></i> {{ 'notification.list.panel_header'|trans }}
    {% endblock %}
    {% block panel_body_class %}table-responsive{% endblock %}
    {% block panel_body %}
        {% if notifications|length %}
            <table class="display table table-striped table-hover table-condensed cf" cellspacing="0"
                   width="100%">
                <thead>
                <th>{{ 'notification.list.table_header.type'|trans }}</th>
                <th>{{ 'notification.list.table_header.text'|trans }}</th>
                <th>{{ 'notification.list.table_header.destination'|trans }}</th>
                <th>{{ 'notification.list.table_header.sent_at'|trans }}</th>
                </thead>
                {% for notification in notifications %}
                    <tr>
                        <td>{% include '@MBagrovSSParserEstateFlatEstate/Notification/_partials/type.html.twig' with {type: notification.type} %}</td>
                        <td>{% include '@MBagrovSSParserEstateFlatEstate/Notification/_partials/text.html.twig' with {type: notification.type, text: notification.text} %}</td>
                        <td>{{ notification.destination }}</td>
                        <td>{{ notification.createdAt|date('d.m.Y G:i:s') }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <i class="no-notifications fa fa-warning"></i> {{ 'notification.no_notifications'|trans }}
        {% endif %}
    {% endblock %}
{% endembed %}