{% trans_default_domain 'flat_estate' %}
{% spaceless %}
    {{- 'ad.list.table_header.type'|trans -}}:{{- ' ' -}}{% include '@MBagrovSSParserEstateFlatEstate/Ad/_partials/type.html.twig' with {type: ad.type} %}.
    {{- ' ' -}}
    {{- ad.parseObject.object.transConst|trans -}},{{- ' ' -}}{{- ad.object.transConst|trans -}}.
    {{- ' ' -}}
    {{- 'ad.list.table_header.series'|trans -}}:{{- ' ' -}}{%- include '@MBagrovSSParserEstateFlatEstate/Ad/_partials/estate_type.html.twig' with {type: ad.estateType.transConst} -%}.
    {{- ' ' -}}
    {{- 'ad.list.table_header.price'|trans -}}:{{- ' ' -}}{%- include '@MBagrovSSParserEstateFlatEstate/Ad/_partials/price.html.twig' with {type: ad.priceType, price: ad.price} -%}.
    {{- ' ' -}}
    {{- 'ad.list.table_header.floor'|trans -}}:{{- ' ' -}}{%- include '@MBagrovSSParserEstateFlatEstate/Ad/_partials/floor.html.twig' with {floor: ad.floor} -%}.
    {{- ' ' -}}
    {{- 'ad.list.table_header.rooms'|trans -}}:{{- ' ' -}}{%- include '@MBagrovSSParserEstateFlatEstate/Ad/_partials/rooms.html.twig' with {rooms: ad.roomsCount} -%}.
    {{- ' ' -}}
    {{- 'ad.list.table_header.area'|trans -}}2:{{- ' ' -}}{%- include '@MBagrovSSParserEstateFlatEstate/Ad/_partials/area.html.twig' with {area: ad.area} -%}.
    {{- ' ' -}}
    {{- ad.shortUrl -}}

{% endspaceless %}