#edit-profile-info {
  .sky-form {
    border: none;
  }
  hr {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .order-form {
    footer {
      border-top: none;
    }
  }
}

textarea {
  max-width: 100%;
}