//
//
//.da-slider {
//  background: transparent url(../img/index_slider.jpg) repeat 0% 0% !important;
//}
//
//.da-arrows span {
//  background: url(../img/arrows.png) no-repeat !important;
//  &.da-arrows-prev {
//    background-position: 0px -68px !important;
//  }
//}
//
//.da-slide p i {
//  background: url(../img/bg-text.png) repeat !important;
//}
//
//.da-dots span {
//  background: url(../img/bg-text.png) repeat !important;
//}

.interactive-slider-v2 {
  background: url(../img/bg/index_slider.jpg) no-repeat !important;
  background-size: cover !important;
  padding: 200px 0 !important;
}

#header {
  padding-top: 0px;
}

#services {
  .icon-lg {
    + .content-boxes-in-v3 {
      margin-top: 10px;
    }
  }
  .fa-dot-circle-o {
    color: $themeColor;
    font-size: $fontSizeNormalPlus;
    padding-right: 5px;
  }
  p {
    &.ad {
      font-size: $fontSizeNormalPlus;
    }
  }
}

.border-top {
  border-top: solid 2px $themeColor !important;
}
