#notifications_block {
  display: flex;
  flex-direction: column-reverse;
  position: fixed;
  bottom: 0;
  right: 0;

  /* Smartphones (portrait) ----------- */
  @media only screen and (max-width: 320px) {
    width: 50vw;
  }

  /* Smartphones (landscape) ----------- */
  @media only screen and (min-width: 321px) {
    width: 40vw;
  }

  /* Desktops and laptops ----------- */
  @media only screen and (min-width: 1224px) {
    width: 15vw;
  }

  .notification {
    padding: 15px;
    margin: 0 15px 5px 0;
    background-color: $themeColor;
    opacity: 0;
    transition: opacity 350ms ease;
    position: relative;

    &.-critical {
      background-color: $colorRed
    }

    &.-warning {
      background-color: $colorOrange
    }

    &.-success {
      background-color: $colorGreen
    }

    &.-visible {
      opacity: .8;
    }

    .fa-close {
      position: absolute;
      top: 3px;
      right: 5px;
      cursor: pointer;
    }

  }

}