.orders-table {
  .fa {
    &.fa-question-circle {
      color: $themeColor;
      cursor: pointer;
      float: left;
      margin-top: 2px;
    }
  }

  .tooltip {
    padding: 5px;
    min-width: 210px;
    background-color: $themeColor !important;
    .tooltip-inner {
      padding: 0;
      background-color: inherit;
    }
    .tooltip-arrow {
      border-top-color: $themeColor !important;
    }
  }

  .row {
    &.title {
      font-weight: bold;
      padding-bottom: 5px;
    }
  }

  .not-collapsable {
    &.-small {
      min-width: 70px !important;
    }
    &.-big {
      min-width: 200px !important;
    }
  }

}