.search_ads_block, .datatable_block {
  display: none;

}

.profile-contents {
  min-height: 200px;
}

#sticky-facebook-share {
  position: fixed;
  left: 10px;
  bottom: 10px;
  @media screen and (max-width: 479px) {
    left: 5px;
    bottom: 45px;
  }
}

.social_facebook {
  background-image: url(../img/facebook.png) !important;
}

.social_googleplus {
  background-image: url(../img/googleplus.png) !important;
}

.copyright {
  display: flex;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;

  @media screen and (max-width: 479px) {
    padding: 20px 0 45px !important;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 479px) {
      flex-direction: column-reverse;
    }

    .text-center {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-grow: 1;
    }

    .social-icons {
      margin-left: 10px;
    }

  }

}


