{% if objects and objects|length %}
    <select name="children-select" multiple>
        {% for object in objects %}
            <option value="{{ object.getId }}">{{ object.getNameRu }}</option>
        {% endfor %}
    </select>
{% endif %}