{% extends ':layout:page.html.twig' %}

    {% trans_default_domain 'flat_estate' %}

{% block title %}{{ 'seo.title.history.error'|trans([], 'messages') }}{% endblock %}


{% block content %}


    <div class="col-md-offset-1 col-md-10">
        <div class="alert alert-danger fade in">
            <h4>{{ 'ad.inactive.header'|trans }}</h4>

            <p>{{ 'ad.inactive.description.1'|trans }}</p>
            <p>{{ 'ad.inactive.description.2'|trans }}</p>

            <p>
                <a class="btn-u btn-u-blue" href="{{ path('index') }}">{{ 'ad.inactive.btn_home'|trans }}</a>
            </p>
        </div>
    </div>

{% endblock %}