<div>
    {% embed '@MBagrovSSParserEstateFlatEstate/_partials/panel/panel.html.twig' %}
        {% trans_default_domain 'flat_estate' %}
        {% block panel_title %}
            <i class = "fa fa-search"></i> {{ 'ad.list.panel_header'|trans }}
        {% endblock %}
        {% block panel_body_class %}table-responsive{% endblock %}
        {% block panel_body %}
            <table id = "ads_list" class = "display table table-striped table-hover cf"
                   cellspacing = "0"
                   width = "100%" data-id = "{{ search.uuid }}">
                <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>{{ 'ad.list.table_header.type'|trans }}</th>
                    <th>{{ 'ad.list.table_header.district'|trans }}</th>
                    <th>{{ 'ad.list.table_header.series'|trans }}</th>
                    <th>{{ 'ad.list.table_header.floor'|trans }}</th>
                    <th>{{ 'ad.list.table_header.rooms'|trans }}</th>
                    <th>{{ 'ad.list.table_header.area'|trans }}<sup>2</sup></th>
                    <th>{{ 'ad.list.table_header.price'|trans }}</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th></th>
                    <th></th>
                    <th>
                        <div class = "dropdown filters">
                            <a href = "#" data-toggle = "dropdown" class = "dropdown-toggle">
                                <i class = "fa fa-filter"></i>
                            </a>
                            <ul class = "dropdown-menu">

                                <li>
                                    <a data-filter-trigger data-type="bit" data-id="2" href = "#">
                                        <i class="fa fa-check -invisible"></i>
                                        <i class="fa fa-times-circle-o"></i>
                                        <i class="fa fa-star"></i>
                                        <span class="text">{{ 'ad.list.row.actions.starred'|trans }}</span>
                                    </a>
                                </li>
                                <li>
                                    <a data-filter-trigger data-type="bit" data-id="4" href = "#">
                                        <i class="fa fa-check -invisible"></i>
                                        <i class="fa fa-times-circle-o "></i>
                                        <span class="text">{{ 'ad.list.row.actions.contact_seller'|trans }}</span>
                                    </a>
                                </li>
                                <li>
                                    <a data-filter-trigger data-type="bit" data-id="8" href = "#">
                                        <i class="fa fa-check -invisible"></i>
                                        <i class="fa fa-times-circle-o"></i>
                                        <span class="text">{{ 'ad.list.row.actions.contacted_seller'|trans }}</span>
                                    </a>
                                </li>
                                <li>
                                    <a data-filter-trigger data-type="bit" data-id="16" href = "#">
                                        <i class="fa fa-check -invisible"></i>
                                        <i class="fa fa-times-circle-o"></i>
                                        <span class="text">{{ 'ad.list.row.actions.go_to_view'|trans }}</span>
                                    </a>
                                </li>
                                <li>
                                    <a data-filter-trigger data-type="bit" data-id="32" href = "#">
                                        <i class="fa fa-check -invisible"></i>
                                        <i class="fa fa-times-circle-o"></i>
                                        <span class="text">{{ 'ad.list.row.actions.view_liked'|trans }}</span>
                                    </a>
                                </li>
                                <li>
                                    <a data-filter-trigger data-type="bit" data-id="64" href = "#">
                                        <i class="fa fa-check -invisible"></i>
                                        <i class="fa fa-times-circle-o"></i>
                                        <span class="text">{{ 'ad.list.row.actions.view_disliked'|trans }}</span>
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </th>
                    <th></th>

                    <th>
                        <ul class = "list-unstyled filters">
                            <li class = "dropdown">
                                <a href = "#" data-toggle = "dropdown" class = "dropdown-toggle">
                                    <i class = "fa fa-filter"></i>
                                </a>

                                {% set lengthh = filterDistricts|length %}
                                {% set citiesPerColumn = (filterDistricts|length / 3)|round(0, 'ceil') %}
                                {% if lengthh == 0 or lengthh == 1 %}
                                    {% set columnsCount = 1 %}
                                {% elseif lengthh == 2 %}
                                    {% set columnsCount = 2 %}
                                {% else %}
                                    {% set columnsCount = 3 %}
                                {% endif %}
                                {% set gridWidth = (12 / columnsCount)|round(0, 'ceil') %}

                                <ul class = "dropdown-menu">
                                    <li>
                                        <div class = "row districts_responsive_filter_container -cols-{{ columnsCount }}">
                                            <i class="fa fa-close"></i>
                                            <div class="districts_responsive_filter_content">
                                                {% for district in filterDistricts %}
                                                    {% if citiesPerColumn == 1 or loop.index % citiesPerColumn == 1 %}
                                                        <ul class = "list-unstyled col-md-{{ gridWidth }} col-xs-{{ gridWidth }}">
                                                    {% endif %}
                                                    <li class="menu-item{{ loop.index > citiesPerColumn ? ' border-left' : ''}}">
                                                        <a data-filter-trigger data-type = "id"
                                                           data-id = "{{ district.uuid }}"
                                                           href = "#">
                                                            <i class = "fa fa-check"></i>
                                                            <i class = "fa fa-times-circle-o -invisible"></i>
                                                            <span class = "text">{{ district.transConst|trans }}</span>
                                                        </a>
                                                    </li>
                                                    {% if loop.last or loop.index % citiesPerColumn == 0 %}
                                                        </ul>
                                                    {% endif %}

                                                {% endfor %}
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </th>

                    <th>
                        <ul class = "list-unstyled filters">
                            <li class = "dropdown">
                                <a href = "#" data-toggle = "dropdown" class = "dropdown-toggle">
                                    <i class = "fa fa-filter"></i>
                                </a>
                                {% set lengthh = search.estateTypes|length %}
                                {% set estateTypesPerColumn = (search.estateTypes|length / 3)|round(0, 'ceil') %}
                                {% if lengthh == 0 or lengthh == 1 %}
                                    {% set estateTypeColumnsCount = 1 %}
                                {% elseif lengthh == 2 %}
                                    {% set estateTypeColumnsCount = 2 %}
                                {% else %}
                                    {% set estateTypeColumnsCount = 3 %}
                                {% endif %}
                                {% set estateTypesGridWidth = (12 / estateTypeColumnsCount)|round(0, 'ceil') %}

                                <ul class = "dropdown-menu">
                                    <li>
                                        <div class = "row districts_responsive_filter_container -cols-{{ estateTypeColumnsCount }}">
                                            <i class="fa fa-close"></i>
                                            <div class="districts_responsive_filter_content">
                                                {% for estateType in search.estateTypes %}
                                                    {% if estateTypesPerColumn == 1 or loop.index % estateTypesPerColumn == 1 %}
                                                        <ul class = "list-unstyled col-md-{{ estateTypesGridWidth }} col-xs-{{ estateTypesGridWidth }}">
                                                    {% endif %}
                                                    <li class="menu-item{{ loop.index > estateTypesPerColumn ? ' border-left' : ''}}">
                                                        <a data-filter-trigger
                                                           data-type = "id"
                                                           data-id = "{{ estateType.uuid }}"
                                                           href = "#">
                                                            <i class = "fa fa-check"></i>
                                                            <i class = "fa fa-times-circle-o -invisible"></i>
                                                            <span class="text">{{ estateType.transConst|trans }}</span>
                                                        </a>
                                                    </li>
                                                    {% if loop.last or loop.index % estateTypesPerColumn == 0 %}
                                                        </ul>
                                                    {% endif %}

                                                {% endfor %}
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </th>


                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                </tfoot>
            </table>
        {% endblock %}

    {% endembed %}
</div>