{% embed '@MBagrovSSParserEstateFlatEstate/_partials/panel/panel.html.twig' %}
    {% trans_default_domain 'flat_estate' %}
    {% block panel_title %}
        <i class="fa fa-map-o"></i> {{ 'ad.map.panel_header'|trans }}
    {% endblock %}
    {% block panel_body_class %}no-padding{% endblock %}
    {% block panel_body %}
        <div id="map"></div>
    {% endblock %}
{% endembed %}