{% include '@MBagrovSSParserEstateFlatEstate/Ad/_partials/show/ad.html.twig' %}

<div class="row">
    <div class="col-sm-12">
        {% include '@MBagrovSSParserEstateFlatEstate/Notification/list.html.twig' with {notifications: notifications} %}
        {% include '@MBagrovSSParserEstateFlatEstate/History/_partials/ads_with_panel.html.twig' with {ads: similarAds} %}
    </div>
</div>