{% extends ':layout:page.html.twig' %}
    {% trans_default_domain 'flat_estate' %}

{% block title %}{{ 'seo.title.ad.show'|trans({
    CITY: ad.parseObject.object.transConst|trans,
    DISTRICT: ad.object.transConst|trans,
    PRICE: ad.price,
    ROOMS: ad.roomsCount,
    FLOOR: ad.floor,
    AREA: ad.area,
}, 'messages') }}{% endblock %}


{% block content %}
    <div class="col-md-offset-1 col-md-10">

        <div class="col-sm-6">
            {% include '@MBagrovSSParserEstateFlatEstate/Ad/_partials/show/ad.html.twig' %}
        </div>

        <div class="col-sm-6">
            {% include '@MBagrovSSParserEstateFlatEstate/Notification/list.html.twig' with {notifications: notifications} %}
            {% include '@MBagrovSSParserEstateFlatEstate/History/_partials/ads_with_panel.html.twig' with {ads: similarAds} %}
            {% include '@MBagrovSSParserEstateFlatEstate/Ad/_partials/show/actions.html.twig' %}
        </div>

        <div class="col-sm-12 col-sm-offset-5">

            <a class="btn-u btn-u-blue"
               href="{{ path('flat_estate.search.index') }}">{{ 'ad.list.back_btn'|trans }}</a>
        </div>

    </div>

{% endblock %}

{% block javascripts %}

    <script type="text/javascript"
            src="{{ asset('js/locale/' ~ app.request.locale ~ '/TranslationMessages.js') }}"></script>


    <script type="text/javascript">

        $(document).ready(function () {
            AdsList.initActions();
            AdsList.initTooltips();
        });

    </script>

{% endblock %}