{% extends 'layout/page.html.twig' %}
{% trans_default_domain 'common' %}

{% block title %}{{ 'seo.title.policy.index'|trans([], 'messages') }}{% endblock %}

{% block content %}
    <div class="col-sm-8 col-sm-offset-2">

        <div class="headline">
            <h2>{{ 'policy.header'|trans }}</h2>
        </div>

        <div class="panel-group acc-v1" id="policy">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#policy" href="#refund_text" aria-expanded="false">
                            {{ 'policy.tabs.refund.header'|trans }}
                        </a>
                    </h4>
                </div>
                <div id="refund_text" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                {{ 'policy.tabs.refund.texts.0'|trans }}<br>
                                {{ 'policy.tabs.refund.texts.1'|trans }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#policy" href="#privacy_text" aria-expanded="false">
                            {{ 'policy.tabs.privacy.header'|trans }}
                        </a>
                    </h4>
                </div>
                <div id="privacy_text" class="panel-collapse collapse" aria-expanded="false">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">

                                <h4>{{ 'policy.tabs.privacy.texts.0'|trans }}</h4>

                                <ul>
                                    <li>
                                        <p><b>{{ 'policy.tabs.privacy.texts.1'|trans }}</b></p>
                                        <p>{{ 'policy.tabs.privacy.texts.2'|trans }}</p>
                                    </li>

                                    <li>
                                        <p><b>{{ 'policy.tabs.privacy.texts.3'|trans }}</b></p>
                                        <p>{{ 'policy.tabs.privacy.texts.4'|trans }}</p>
                                    </li>

                                    <li>
                                        <p><b>{{ 'policy.tabs.privacy.texts.5'|trans }}</b></p>
                                        <p>{{ 'policy.tabs.privacy.texts.6'|trans }}</p>
                                        <ul>
                                            <li>{{ 'policy.tabs.privacy.texts.7'|trans }}</li>
                                            <li>{{ 'policy.tabs.privacy.texts.8'|trans }}</li>
                                            <li>{{ 'policy.tabs.privacy.texts.9'|trans }}</li>
                                            <li>{{ 'policy.tabs.privacy.texts.10'|trans }}</li>
                                            <li>{{ 'policy.tabs.privacy.texts.11'|trans }}</li>
                                            <li>{{ 'policy.tabs.privacy.texts.12'|trans }}</li>
                                        </ul>
                                    </li>

                                    <li>
                                        <p><b>{{ 'policy.tabs.privacy.texts.13'|trans }}</b></p>
                                        <ul>
                                            <li>{{ 'policy.tabs.privacy.texts.14'|trans }}</li>
                                            <li>{{ 'policy.tabs.privacy.texts.15'|trans }}</li>
                                            <li>{{ 'policy.tabs.privacy.texts.16'|trans }}</li>
                                        </ul>
                                    </li>

                                    <li>
                                        <p><b>{{ 'policy.tabs.privacy.texts.17'|trans }}</b></p>
                                        <p>{{ 'policy.tabs.privacy.texts.18'|trans }}</p>
                                    </li>

                                    <li>
                                        <p><b>{{ 'policy.tabs.privacy.texts.19'|trans }}</b></p>
                                        <p>{{ 'policy.tabs.privacy.texts.20'|trans }}</p>
                                        <p>{{ 'policy.tabs.privacy.texts.21'|trans }}</p>
                                    </li>

                                    <li>
                                        <p><b>{{ 'policy.tabs.privacy.texts.22'|trans }}</b></p>
                                        <p>{{ 'policy.tabs.privacy.texts.23'|trans }}</p>
                                    </li>

                                    <li>
                                        <p><b>{{ 'policy.tabs.privacy.texts.24'|trans }}</b></p>
                                        <p>{{ 'policy.tabs.privacy.texts.25'|trans }} <a target="_blank" class="color-blue" href="https://support.google.com/adwordspolicy/answer/1316548?hl={{ app.request.locale }}">https://support.google.com/adwordspolicy/answer/1316548?hl={{ app.request.locale }}</a></p>
                                        <p>{{ 'policy.tabs.privacy.texts.26'|trans }}</p>
                                    </li>

                                    <li>
                                        <p><b>{{ 'policy.tabs.privacy.texts.27'|trans }}</b></p>
                                        <p>{{ 'policy.tabs.privacy.texts.28'|trans }} <a class="color-blue" href="{{ path('common.contacts.index') }}">{{ 'policy.tabs.privacy.texts.29'|trans }}</a> {{ 'policy.tabs.privacy.texts.30'|trans }}</p>
                                    </li>


                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
{% endblock %}