{% trans_default_domain 'flat_estate' %}

{%- block choice_widget_options -%}
    {% spaceless %}
        {% for group_label, choice in options %}
            {% if choice is iterable %}
                <optgroup label="{{ group_label|trans }}">
                    {% set options = choice %}
                    {{ block('choice_widget_options') }}
                </optgroup>
            {% else %}
                <option value="{{ choice.value }}"{% if choice is selectedchoice(value) %} selected="selected"{% endif %}>{{ choice.label|trans }}</option>
            {% endif %}
        {% endfor %}
    {% endspaceless %}
{%- endblock choice_widget_options -%}