.ad-actions {

  @media (max-width: 1200px) {
    .text {
      margin-left: 0 !important;
    }
  }

  .text {
    position: absolute;
  }

  list-style: none;
  padding-left: 0;

  li {
    cursor: pointer;
    line-height: 1.7;
    height: 20px;

    @media (max-width: 1200px) {
      .action {
        margin-left: 20px;
      }
    }

    &:hover {
      .action {
        text-decoration: underline;
      }
    }
  }

  i {
    margin-top: 4px;
    &.fa {
      position: absolute;
      transition: opacity 350ms ease-out;
      color: $themeColor;
    }

    &.fa-star, &.fa-star-o {
      color: $colorOrange;
    }

  }

  .-invisible {
    opacity: 0;
  }

}

.no-notifications {
  color: $colorOrange;
}

.inactive_link_wrapper {

  .fa {
    &.fa-question-circle {
      color: $themeColor;
      cursor: pointer;
      float: left;
      margin-top: 2px;
    }
  }

  .tooltip {
    padding: 5px;
    min-width: 210px;
    background-color: $themeColor !important;
    .tooltip-inner {
      padding: 0;
      background-color: inherit;
      p {
        color: $colorWhite;
      }
    }
    .tooltip-arrow {
      border-top-color: $themeColor !important;
    }
  }

  span {
    margin-left: 3px;
  }

}
