.modal {
  .modal-content {
    border-radius: 0;
    .modal-header {
      border-bottom: 0;
    }
    .modal-footer {
      border-top: 0;
    }
  }
  .row-label {
    width: 35%;
  }
  .no-notifications {
    color: $colorOrange;
  }
  .row-data {
    width: 65%;
    text-align: center;
  }
}