.ui-slider-handle {
  &.ui-state-default {
    &.ui-corner-all {
      &.ui-state-hover {
        border-color: $themeHoverColor;

      }
      &.ui-state-active {
        border-color: $themeColor;
      }
    }
  }
}