<div class="row">
    <div class="col-sm-12">
        {% embed '@MBagrovSSParserEstateFlatEstate/_partials/panel/panel.html.twig' %}
            {% trans_default_domain 'flat_estate' %}
            {% block panel_title %}
                <i class="fa fa-edit"></i>{{ 'ad.show.headers.actions'|trans }}
            {% endblock %}
            {% block panel_body_class %}table-responsive{% endblock %}
            {% block panel_body %}

                <ul class="ad-actions">

                    <li data-star-trigger data-id="{{ sAd.uuid }}">
                        <div class="col-xs-1">
                            <i class="fa fa-star{{ sAd.isStarred ? '' : ' -invisible' }}"></i>
                            <i class="fa fa-star-o{{ sAd.isStarred ? ' -invisible' : '' }}"></i>
                        </div>
                        <div class="col-xs-11 action">
                            <span class="text action unstar{{ sAd.isStarred ? ' -invisible' : '' }}">{{ 'ad.list.row.actions.add_to_starred'|trans }}</span>
                            <span class="text action star{{ sAd.isStarred ? '' : ' -invisible' }}">{{ 'ad.list.row.actions.remove_from_starred'|trans }}</span>
                        </div>
                    </li>

                    <li data-trash-trigger data-id="{{ sAd.uuid }}" data-searchId="{{ sAd.search.uuid }}">
                        <div class="col-xs-1">
                            <i class="fa fa-trash"></i>
                        </div>
                        <div class="col-xs-11 action">Удалить</div>
                    </li>

                    <li data-change-status-trigger data-id="{{ sAd.uuid }}" data-type="0">
                        <div class="col-xs-1">
                            <i class="fa fa-check{{ sAd.isWillContactSeller ? '' : ' -invisible' }}"></i>
                            <i class="fa fa-times-circle-o{{ sAd.isWillContactSeller ? ' -invisible' : '' }}"></i>
                        </div>
                        <div class="col-xs-11 action">
                            {{ 'ad.list.row.actions.contacted_seller'|trans }}
                        </div>
                    </li>

                    <li data-change-status-trigger data-id="{{ sAd.uuid }}" data-type="1">
                        <div class="col-xs-1">
                            <i class="fa fa-check{{ sAd.isSellerContacted ? '' : ' -invisible' }}"></i>
                            <i class="fa fa-times-circle-o{{ sAd.isSellerContacted ? ' -invisible' : '' }}"></i>
                        </div>
                        <div class="col-xs-11 action">{{ 'ad.list.row.actions.contacted_seller'|trans }}</div>
                    </li>

                    <li data-change-status-trigger data-id="{{ sAd.uuid }}" data-type="2">
                        <div class="col-xs-1">
                            <i class="fa fa-check{{ sAd.isWillGoView ? '' : ' -invisible' }}"></i>
                            <i class="fa fa-times-circle-o{{ sAd.isWillGoView ? ' -invisible' : '' }}"></i>
                        </div>
                        <div class="col-xs-11 action">{{ 'ad.list.row.actions.go_to_view'|trans }}</div>
                    </li>

                    <li data-change-status-trigger data-id="{{ sAd.uuid }}" data-type="3">
                        <div class="col-xs-1">
                            <i class="fa fa-check{{ sAd.isViewLiked ? '' : ' -invisible' }}"></i>
                            <i class="fa fa-times-circle-o{{ sAd.isViewLiked ? ' -invisible' : '' }}"></i>
                        </div>
                        <div class="col-xs-11 action">{{ 'ad.list.row.actions.view_liked'|trans }}</div>
                    </li>

                    <li data-change-status-trigger data-id="{{ sAd.uuid }}" data-type="4">
                        <div class="col-xs-1">
                            <i class="fa fa-check{{ sAd.isViewDisliked ? '' : ' -invisible' }}"></i>
                            <i class="fa fa-times-circle-o{{ sAd.isViewDisliked ? ' -invisible' : '' }}"></i>
                        </div>
                        <div class="col-xs-11 action">{{ 'ad.list.row.actions.view_disliked'|trans }}</div>
                    </li>


                </ul>



            {% endblock %}
        {% endembed %}
    </div>
</div>