<div class = "row">
    <div class = "col-sm-12">
        {% embed '@MBagrovSSParserEstateFlatEstate/_partials/panel/panel.html.twig' %}
            {% trans_default_domain 'flat_estate' %}
            {% block panel_title %}
                <i class = "fa fa-info-circle"></i> {{ 'ad.show.panel_header'|trans }}
            {% endblock %}
            {% block panel_body_class %}table-responsive{% endblock %}
            {% block panel_body %}
                <div class = "row">
                    <div class = "col-sm-12">{{ ad.text }}</div>
                </div>
                <div class = "row">
                    <div class = "col-sm-6">
                        <table class = "display table table-striped table-hover table-condensed cf" cellspacing = "0"
                               width = "100%">
                            <tr>
                                <td class = "row-label">{{ 'ad.show.table_header.city'|trans }}</td>
                                <td class = "row-data">{{ ad.parseObject.object.transConst|trans }}</td>
                            </tr>
                            {% if ad.object is defined and ad.object != null %}
                                <tr>
                                    <td class = "row-label">{{ 'ad.show.table_header.district'|trans }}</td>
                                    <td class = "row-data">{% include '@MBagrovSSParserEstateFlatEstate/Ad/_partials/district.html.twig' with {district: ad.object.transConst} %}</td>
                                </tr>
                            {% endif %}
                            <tr>
                                <td class = "row-label">{{ 'ad.show.table_header.series'|trans }}</td>
                                <td class = "row-data">{% include '@MBagrovSSParserEstateFlatEstate/Ad/_partials/estate_type.html.twig' with {type: ad.estateType.transConst} %}</td>
                            </tr>
                            <tr>
                                <td class = "row-label">{{ 'ad.show.table_header.type'|trans }}</td>
                                <td class = "row-data">{% include '@MBagrovSSParserEstateFlatEstate/Ad/_partials/type.html.twig' with {type: ad.type} %}</td>
                            </tr>
                            <tr>
                                <td class = "row-label">{{ 'ad.show.table_header.rooms_count'|trans }}</td>
                                <td class = "row-data">{{ ad.roomsCount }}</td>
                            </tr>
                            <tr>
                                <td class = "row-label">{{ 'ad.show.table_header.floor'|trans }}</td>
                                <td class = "row-data">{{ ad.floor }}</td>
                            </tr>
                        </table>
                    </div>
                    <div class = "col-sm-6">
                        <table class = "display table table-striped table-hover table-condensed cf" cellspacing = "0"
                               width = "100%">
                            <tr>
                                <td class = "row-label">{{ 'ad.show.table_header.area'|trans }}<sup>2</sup></td>
                                <td class = "row-data">{{ ad.area }}</td>
                            </tr>
                            <tr>
                                <td class = "row-label">{{ 'ad.show.table_header.price'|trans }}</td>
                                <td class = "row-data">{% include '@MBagrovSSParserEstateFlatEstate/Ad/_partials/price.html.twig' with {price: ad.price, type: ad.priceType} %}</td>
                            </tr>
                            <tr>
                                <td class = "row-label">{{ 'ad.show.table_header.price_square'|trans }}</td>
                                <td class = "row-data">{{ ad.pricePerSquare }}</td>
                            </tr>
                            <tr>
                                <td class = "row-label">{{ 'ad.show.table_header.published_at'|trans }}</td>
                                <td class = "row-data">{{ ad.createdAtProvider|date('d.m.Y G:i:s') }}</td>
                            </tr>
                            <tr>
                                <td class = "row-label">{{ 'ad.show.table_header.found_at'|trans }}</td>
                                <td class = "row-data">{{ ad.createdAt|date('d.m.Y G:i:s') }}</td>
                            </tr>
                            {% if not ad.isInactive() %}
                                <tr>
                                    {% if ad.uuid is null %}
                                        <td colspan = "2"><a target = "_blank" href = "{{ ad.getUrl }}">{{ 'ad.show.link'|trans }}</a></td>
                                    {% else %}
                                        <td colspan = "2"><a target = "_blank" href = "{{ path('flat_estate.ad.show', {id: ad.uuid}) }}">{{ 'ad.show.link'|trans }}</a></td>
                                    {% endif %}
                                </tr>
                            {% endif %}
                        </table>
                    </div>
                </div>
            {% endblock %}
        {% endembed %}
    </div>
</div>