{% trans_default_domain 'common' %}

    {% form_theme form with [
    '@MBagrovSSParserCommonCommon/Form/form_errors.html.twig',
    '@MBagrovSSParserCommonCommon/Form/password_widget.html.twig',
    ] %}

<div id="password" class="profile-edit tab-pane fade">
    <h2 class="heading-md">{{ 'profile.profile.cp.header'|trans }}</h2>

    <p>{{ 'profile.profile.cp.descr'|trans }}</p>
    <br>


    {{ form_errors(form) }}
    <form action="{{ path('fos_user_change_password') }}#password" {{ form_enctype(form) }} method="POST" class="sky-form fos_user_change_password">
        <dl class="dl-horizontal">
            {{ form_widget(form._token) }}
            <dt>{{ 'profile.profile.cp.table.current_pw.label'|trans }}</dt>
            <dd>
                <section>
                    {{ form_widget(form.current_password, { 'attr': {'class': 'form-control',  'placeholder': 'profile.profile.cp.table.current_pw.placeholder'|trans} }) }}
                    {{ form_errors(form.current_password) }}
                </section>
            </dd>


            <dt>{{ 'profile.profile.cp.table.new_pw.label'|trans }}</dt>
            <dd>
                <section>
                    {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control',  'placeholder': 'profile.profile.cp.table.new_pw.placeholder'|trans} }) }}
                    {{ form_errors(form.plainPassword.first) }}
                </section>
            </dd>

            <dt>{{ 'profile.profile.cp.table.confirm_pw.label'|trans }}</dt>
            <dd>
                <section>
                    {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control',  'placeholder': 'profile.profile.cp.table.confirm_pw.placeholder'|trans} }) }}
                    {{ form_errors(form.plainPassword.second) }}
                </section>
            </dd>


        </dl>
        <button class="btn-u" type="submit">{{ 'profile.profile.cp.table.btn'|trans }}</button>

    </form>
</div>