{% trans_default_domain 'common' %}

<div id="profile" class="profile-edit tab-pane fade in active">
    <h2 class="heading-md">{{ 'profile.profile.info.header'|trans }}</h2>

    <p>{{ 'profile.profile.info.descr'|trans }}</p>
    <br>
    <dl class="dl-horizontal">
        <dt><strong>{{ 'profile.profile.info.table.email'|trans }} </strong></dt>
        <dd>{{ user.email }}</dd>
        <hr>
        <dt><strong>{{ 'profile.profile.info.table.phone'|trans }} </strong></dt>
        <dd>
            {% if user.phone is null %}
                <form class="sky-form phone_form" id="phone-form" action="{{ path('common_user_profile_edit') }}" method="POST">
                    <div class="row">
                        <section class="col col-xs-6 register-email-tooltip" data-toggle="tooltip" data-placement="top" title=""
                                 data-html="true"
                                 data-original-title="{% include "FOSUserBundle:Registration:phone_explanation.html.twig" %}">
                            <label class="input">
                                <i class="icon-prepend fa fa-phone"></i>
                                <input type="text" id="phone_input" name="phone" required="required" maxlength="8" pattern="" class="form-control" placeholder="{{ 'profile.profile.phone.input'|trans }}">
                            </label>
                        </section>
                        <button type="submit" class="btn-u">{{ 'profile.profile.phone.btn'|trans }}</button>
                    </div>
                </form>
            {% else %}{{ user.phone }}{% endif %}
        </dd>
        <hr>
    </dl>
</div>