{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain "common" %}

{% block title %}{{ 'seo.title.register.checkEmail'|trans([], 'messages') }}{% endblock %}


{% block fos_user_content %}
    {% block alert_block %}
    {% endblock %}
    {% set emailParts = user.email|split('@') %}
    {% set emailDomain = emailParts[emailParts|length-1] %}

    <div class="col-md-offset-1 col-md-10">
        <div class="tag-box tag-box-v2 margin-bottom-40">
            <h4>{{ 'registration.check_email.header'|trans }}</h4>

            <p>{{ 'registration.check_email.message'|trans({'EMAIL': user.email}) }}</p>

            <br>

            <p>
                <a target="_blank" class="btn-u btn-u-blue" href="http://{{ emailDomain }}">{{ 'registration.check_email.btn'|trans }}</a>
            </p>

        </div>
    </div>
{% endblock fos_user_content %}
