{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'common' %}

{% block title %}{{ 'seo.title.register.confirmed'|trans([], 'messages') }}{% endblock %}

{% block fos_user_content %}

    <div class="col-md-offset-1 col-md-10">
        <div class="tag-box tag-box-v2 margin-bottom-40">
            <h4>{{ 'registration.confirmed.header'|trans({'EMAIL': user.username}) }}</h4>

            <p>{{ 'registration.confirmed.message.first'|trans }}</p>

            <p>{{ 'registration.confirmed.message.second'|trans }}</p>

            <br>

            <p>
                <a class="btn-u btn-u-blue"
                   href="{{ path('flat_estate.search.new') }}">{{ 'registration.confirmed.btn'|trans }}</a>
            </p>
        </div>
    </div>

{% endblock fos_user_content %}
