{% trans_default_domain 'common' %}

<ul>
    <li>+ {{ 'registration.phone.tooltip.first'|trans }}</li>
    <li>+ {{ 'registration.phone.tooltip.second'|trans }}</li>
    <li>+ {{ 'registration.phone.tooltip.third'|trans }}</li>
</ul>