{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}{{ 'seo.title.register.index'|trans([], 'messages') }}{% endblock %}

{% block fos_user_content %}
    <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
        {% include "FOSUserBundle:Registration:register_content.html.twig" %}
    </div>
{% endblock fos_user_content %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/locale/' ~ app.request.locale ~ '/reg.validation.js') }}"></script>


    <script type="text/javascript">
        $(document).ready(function () {
            registration.initValidation();
//            registration.initTooltips();
        });
    </script>


{% endblock %}