{% trans_default_domain 'common' %}

    {% form_theme form with [
    '@MBagrovSSParserCommonCommon/Form/form_errors.html.twig',
    '@MBagrovSSParserCommonCommon/Form/email_widget.html.twig',
    '@MBagrovSSParserCommonCommon/Form/password_widget.html.twig',
    ] %}

{{ form_errors(form) }}

<div class="col-lg-6 col-lg-offset-3">
    <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST"
          class="sky-form fos_user_registration_register border-top">

        <div class="reg-block-header">
            <h2>{{ 'registration.register.header'|trans }}</h2>
            <ul class="social-icons text-center">
                <li><a class="rounded-x social_facebook" data-original-title="Facebook" href="{{ path('hwi_oauth_service_redirect', {'service': 'facebook' }) }}"></a></li>
                <li><a class="rounded-x social_googleplus" data-original-title="Google Plus" href="{{ path('hwi_oauth_service_redirect', {'service': 'google' }) }}"></a></li>
            </ul>
            <p>{{ 'registration.register.already.1'|trans }} <a class="color-blue"
                                                                href="{{ path('fos_user_security_login') }}">{{ 'registration.register.already.2'|trans }}</a> {{ 'registration.register.already.3'|trans }}
            </p>
        </div>

        {{ form_widget(form._token) }}
        <fieldset>
            <div class="row">
                <section class="col col-xs-12">
                    {{ form_widget(form.email, { 'attr': {'class': 'form-control', 'placeholder': 'registration.register.email'|trans} }) }}
                    {{ form_errors(form.email) }}
                </section>
                {#<section class="col col-xs-6 register-email-tooltip" data-toggle="tooltip" data-placement="top" title=""#}
                {#data-html="true"#}
                {#data-original-title="{% include "FOSUserBundle:Registration:phone_explanation.html.twig" %}">#}
                {#<label class="input{% if form_errors(form.phone)|trim|length %} state-error{% endif %}">#}
                {#<i class="icon-prepend fa fa-phone"></i>#}
                {#{{ form_widget(form.phone, { 'attr': {'class': 'form-control', 'placeholder': 'registration.register.phone'|trans, 'pattern': ''} }) }}#}
                {#</label>#}
                {#{{ form_errors(form.phone) }}#}
                {#</section>#}
                <section class="col col-xs-12">
                    {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control',  'placeholder': 'registration.register.password'|trans} }) }}
                    {{ form_errors(form.plainPassword.first) }}
                </section>
                <section class="col col-xs-12">
                    {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control',  'placeholder': 'registration.register.password_confirm'|trans} }) }}
                    {{ form_errors(form.plainPassword.second) }}
                </section>
            </div>
            {#<div class="row">#}
            {#</div>#}

            <p>{{ 'registration.policy.text'|trans }} <a target="_blank" class="color-blue" href="{{ path('common.policy') }}">{{ 'registration.policy.link'|trans }}</a>.</p>
        </fieldset>


        <footer>
            <button type="submit" class="btn-u">{{ 'registration.register.btn'|trans }}</button>
        </footer>
    </form>
</div>

